select * from SysColumns where name = 'WindowsAuthAppDb' and id in (select id from Sysobjects where name = 'VAcompany')  
go
Select * from VaCompany where compcode ='X01'
go
select * from SysParam
go
select * from SysParam
go
select * from SysParam
go
select * from SysParam
go
Select ExeVer,ExeMinor,ExeSubRel,ExeSkip from VaVerTable where ExeId = 'SR122000.exe'
go
Select ExeDepends,ExeDepends2,ExeDepends3,ExeDepends4 from VaVerTable where ExeId = 'SR122000.exe'
go
Select Descr,Flag from GenLookup Where RecId=14400 and Flag = 1  and Code Like 'SR535500+ShoperMenuClick+%'
go
if NOT exists (select * from sysobjects where id = object_id(N'[dbo].[EventExtnKeyValueConfig]') and OBJECTPROPERTY(id, N'IsUserTable') = 1) Create Table EventExtnKeyValueConfig( ProgramId Varchar(64),EventId Varchar(64),SrlNo Int, EventKeyValue Varchar(64),DLLName Varchar(128), VaUid Varchar(32),VaCtr Int, VaTermId Varchar(32),VaCompCode Varchar(16), CONSTRAINT [PK_EventExtnKeyValueConfig] PRIMARY KEY CLUSTERED(ProgramId,EventId,SrlNo,EventKeyValue) ON [PRIMARY])
go
Select * From EventExtnKeyValueConfig Where ProgramId = 'SR535500' and EventId = 'ShoperMenuClick'
go
Select Descr,Flag from GenLookup Where RecId=14400 and Flag = 1 and  Code Like 'SR535500+ShoperMenuClick+%'
go
update genlookup set flag = 0 where recid = '14400' and Descr = 'ShoperGSTPatch.clsShoperGSTPatchInfo'
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='ShoperSysDt'
go
select * from Sysparam where paramcode ='AllowedOpInItemMaster'
go
update itemmasterconfig set FC = 'Product' where fID ='FL0003' And FC <> 'Product'
go
update itemmasterconfig set FC = 'Brand' where fID ='FL0004' And FC <> 'Brand'
go
update itemmasterconfig set FC = 'Article No.' where fID ='FL0005' And FC <> 'Article No.'
go
update itemmasterconfig set FC = 'Color' where fID ='FL0006' And FC <> 'Color'
go
update itemmasterconfig set FC = 'Size' where fID ='FL0007' And FC <> 'Size'
go
update itemmasterconfig set FC = 'HSN Code' where fID ='FL00118' And FC <> 'HSN Code'
go
Update ItemMasterConfig Set Flag4 = 2 where Fn = 'Class1Cd'
go
Update ItemMasterConfig Set Flag4 = 2 where Fn = 'Class2Cd'
go
Update ItemMasterConfig Set Flag4 = 2 where Fn = 'SubClass1Cd'
go
Update ItemMasterConfig Set Flag4 = 2 where Fn = 'SubClass2Cd'
go
Update ItemMasterConfig Set Flag4 = 2 where Fn = 'SizeCd'
go
Update ItemMasterConfig Set Flag2 = 1 where Fn = 'AnalCode1'
go
Update ItemMasterConfig Set Flag2 = 1 where Fn = 'AnalCode2'
go
Update ItemMasterConfig Set Flag2 = 1 where Fn = 'AnalCode3'
go
Update ItemMasterConfig Set Flag2 = 1 where Fn = 'AnalCode4'
go
Update ItemMasterConfig Set Flag2 = 1 where Fn = 'AnalCode5'
go
Update ItemMasterConfig Set Flag2 = 1 where Fn = 'AnalCode6'
go
Update ItemMasterConfig Set Flag2 = 1 where Fn = 'AnalCode7'
go
Update ItemMasterConfig Set Flag2 = 1 where Fn = 'AnalCode8'
go
Update ItemMasterConfig Set Flag2 = 1 where Fn = 'AnalCode9'
go
Update ItemMasterConfig Set Flag2 = 1 where Fn = 'AnalCode10'
go
Update ItemMasterConfig Set Flag2 = 1 where Fn = 'AnalCode11'
go
Update ItemMasterConfig Set Flag2 = 1 where Fn = 'AnalCode12'
go
Update ItemMasterConfig Set Flag2 = 1 where Fn = 'AnalCode13'
go
Update ItemMasterConfig Set Flag2 = 1 where Fn = 'AnalCode14'
go
Update ItemMasterConfig Set Flag2 = 1 where Fn = 'AnalCode15'
go
Update ItemMasterConfig Set Flag2 = 1 where Fn = 'AnalCode16'
go
Update ItemMasterConfig Set Flag2 = 1 where Fn = 'AnalCode17'
go
Update ItemMasterConfig Set Flag2 = 1 where Fn = 'AnalCode18'
go
Update ItemMasterConfig Set Flag2 = 1 where Fn = 'AnalCode19'
go
Update ItemMasterConfig Set Flag2 = 1 where Fn = 'AnalCode20'
go
Update ItemMasterConfig Set Flag2 = 1 where Fn = 'AnalCode21'
go
Update ItemMasterConfig Set Flag2 = 1 where Fn = 'AnalCode22'
go
Update ItemMasterConfig Set Flag2 = 1 where Fn = 'AnalCode23'
go
Update ItemMasterConfig Set Flag2 = 1 where Fn = 'AnalCode24'
go
Update ItemMasterConfig Set Flag2 = 1 where Fn = 'AnalCode25'
go
Update ItemMasterConfig Set Flag2 = 1 where Fn = 'AnalCode26'
go
Update ItemMasterConfig Set Flag2 = 1 where Fn = 'AnalCode27'
go
Update ItemMasterConfig Set Flag2 = 1 where Fn = 'AnalCode28'
go
Update ItemMasterConfig Set Flag2 = 1 where Fn = 'AnalCode29'
go
Update ItemMasterConfig Set Flag2 = 1 where Fn = 'AnalCode30'
go
Update ItemMasterConfig Set Flag2 = 1 where Fn = 'AnalCode31'
go
Update ItemMasterConfig Set Flag2 = 2,Flag4 = 2 where Fn = 'AnalCode32'
go
Update ItemMasterConfig Set Flag4 = 2 where Fn in('LeastSalableQty','SrcTaxType','ProdTaxType','IsInventoryItem','IsRPTaxInclusive','ItemDesc','RegularInd','CurrentCost','IsBillable','IsService')
go
Update ItemMasterConfig Set Flag4 = 2 where Fn = 'Retail_Price'
go
update itemmasterconfig set flag3 = 1 where fID IN ('FL0044','FL0045') And flag3 = 0
go
If exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[TempIMConfigsuper]') and OBJECTPROPERTY(id, N'IsUserTable') = 1) DROP  Table [dbo].[TempIMConfigsuper]
go
If exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[TempIMConfigDefValsuper]') and OBJECTPROPERTY(id, N'IsUserTable') = 1) DROP  Table [dbo].[TempIMConfigDefValsuper]
go
update itemmasterconfig set Flag1 = 0, Flag2 = 1,Flag3 = 1, Flag4 = 0 where fID IN ('FL0041','FL0052')
go
Update ItemMasterConfig Set Flag1 = 1, Flag2 = 1,Flag3 = 1, Flag4 = 1 where FID ='FL0126'
go
Update ItemMasterConfig Set Flag1 = 1, Flag2 = 1,Flag3 = 1, Flag4 = 1 where FID ='FL0127'
go
Update ItemMasterConfig Set Flag1 = 1, Flag2 = 1,Flag3 = 1, Flag4 = 1 where FID ='FL0128'
go
 Select Flag1, Flag2, Flag3,Flag4,Fid,Fn,FC,Defaultvaue,BoundToLookup,BoundToLookupID,Name,xType as FieldType ,Length, 0 as UserWiseConfigSrlNo, 0 as CmnFieldFlag,convert(varchar(256),'') as CmnFieldData  Into TempIMConfigsuper From ItemMasterConfig, SysColumns Where Flag2 =2 and id in(Select id From SysObjects where name ='ItemMaster') and fn = name
go
 Select Flag1, Flag2, Flag3,Flag4,Fid,Fn,FC,Defaultvaue,BoundToLookup,BoundToLookupID,Name,xType as FieldType ,Length, 0 as UserWiseConfigSrlNo, 0 as CmnFieldFlag,convert(varchar(256),'') as CmnFieldData  Into TempIMConfigDefValsuper From ItemMasterConfig, SysColumns Where Flag2 <> 2 and id in(Select id From SysObjects where name ='ItemMaster') and fn = name
go
Update TempIMConfigsuper Set FieldType = 104 where Fid In ('FL0126','FL0127','FL0128')
go
Update UserwiseItemConfig Set FormatSettings = 1 Where UserId ='super' and FieldId_Position like'%FL0001%'
go
update userwiseitemconfig set UpdateStockMaster ='2#2#0' Where UpdateStockMaster ='0#0#0'
go
SELECT * FROM UserWiseItemConfig Where UserId = 'super'
go
Update TempIMConfigsuper Set UserWiseConfigSrlNo = 1  Where Fid = 'FL0001'
go
Update TempIMConfigsuper Set UserWiseConfigSrlNo = 2  Where Fid = 'FL0004'
go
Update TempIMConfigsuper Set UserWiseConfigSrlNo = 3  Where Fid = 'FL0003'
go
Update TempIMConfigsuper Set UserWiseConfigSrlNo = 4  Where Fid = 'FL0005'
go
Update TempIMConfigsuper Set UserWiseConfigSrlNo = 5  Where Fid = 'FL0006'
go
Update TempIMConfigsuper Set UserWiseConfigSrlNo = 6  Where Fid = 'FL0007'
go
Update TempIMConfigsuper Set UserWiseConfigSrlNo = 7  Where Fid = 'FL0016'
go
Update TempIMConfigsuper Set UserWiseConfigSrlNo = 8  Where Fid = 'FL0010'
go
Update TempIMConfigsuper Set UserWiseConfigSrlNo = 9  Where Fid = 'FL0011'
go
Update TempIMConfigsuper Set UserWiseConfigSrlNo = 10  Where Fid = 'FL0023'
go
Update TempIMConfigsuper Set UserWiseConfigSrlNo = 11  Where Fid = 'FL0022'
go
Update TempIMConfigsuper Set UserWiseConfigSrlNo = 12  Where Fid = 'FL0012'
go
Update TempIMConfigsuper Set UserWiseConfigSrlNo = 13  Where Fid = 'FL0013'
go
Update TempIMConfigsuper Set UserWiseConfigSrlNo = 14  Where Fid = 'FL0008'
go
Update TempIMConfigsuper Set UserWiseConfigSrlNo = 15  Where Fid = 'FL0020'
go
Update TempIMConfigsuper Set UserWiseConfigSrlNo = 16  Where Fid = 'FL0021'
go
Update TempIMConfigsuper Set UserWiseConfigSrlNo = 17  Where Fid = 'FL0019'
go
Update TempIMConfigsuper Set UserWiseConfigSrlNo = 18  Where Fid = 'FL0018'
go
Update TempIMConfigsuper Set UserWiseConfigSrlNo = 19  Where Fid = 'FL0014'
go
Update TempIMConfigsuper Set UserWiseConfigSrlNo = 20  Where Fid = 'FL0015'
go
Update TempIMConfigsuper Set UserWiseConfigSrlNo = 21  Where Fid = 'FL0042'
go
Update TempIMConfigsuper Set UserWiseConfigSrlNo = 22  Where Fid = 'FL0043'
go
Update TempIMConfigsuper Set FieldType = 60 where FieldType =59
go
Update TempIMConfigsuper Set UserWiseConfigSrlNo = 1 Where Fn = 'StockNo'
go
If exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[TempItemMastersuper]') and OBJECTPROPERTY(id, N'IsUserTable') = 1) DROP  Table [dbo].[TempItemMastersuper]
go
Select * Into TempItemMastersuper from ItemMaster where 1=2
go
alter table TempItemMastersuper drop column BatchSrlNo
go
alter table TempItemMastersuper add BatchSrlNo varchar(16) default 0
go
Create Table TmpStkTrnDtlssuper ([TrnType] int ,[TrnCtrlNo] int ,[DocNoPrefix] varchar(8) ,[DocNo] int ,[DocRsnCd] varchar(16),[DocDt] datetime,[EntSrlNo] int ,[StockNo] varchar(32),[BatchSrlNo] varchar(16),[LocnId] varchar(16),[DocQty] real,[PhyQtyIn] real,[StkUpdtRate] money,[StkUpdtValueIn] money,[DocEntRate] money,[DocEntValue] money,[DocEntNetValue] money,[VAUid] varchar(32),[VActr] int,[VATermId] varchar(32),[VACompCode] varchar(16))
go
SET NO_BROWSETABLE ON
go
 Select Descr from genlookup  Where Recid = 19000 And Code = '1' 
go
Select * from TempIMConfigsuper Where Fid not Like 'fl000_a' Order by UserWiseConfigSrlNo,FID
go
SET NO_BROWSETABLE ON
go
Select count(*)  as RecCount from userwiseitemconfig where userid='super'
go
SET NO_BROWSETABLE ON
go
SET NO_BROWSETABLE OFF
go
update userwiseitemconfig set FieldiD_Position = 'FL0001#1#FL0004#2#FL0003#3#FL0005#4#FL0006#5#FL0007#6#FL0016#7#FL0010#8#FL0011#9#FL0023#10#FL0022#11#FL0012#12#FL0013#13#FL0008#14#FL0020#15#FL0021#16#FL0019#17#FL0018#18#FL0014#19#FL0015#20#FL0042#21#FL0043#22#' where userid='super'
go
SET NO_BROWSETABLE ON
go
select BoundToLookup, BoundToLookupID from itemmasterconfig where FN = 'ProdTaxType'
go
select id from sysparam where intg = 54
go
select boolean from sysparam where id = '00035A'
go
select code as Cd from genlookup where recid = 54
go
select BoundToLookup, BoundToLookupID,FieldType from TempIMConfigsuper where FN = 'ProdTaxType'
go
select BoundToLookup, BoundToLookupID from itemmasterconfig where FN = 'SrcTaxType'
go
select id from sysparam where intg = 70
go
select boolean from sysparam where id = '00036A'
go
select * from SysColumns where name = 'WindowsAuthAppDb' and id in (select id from Sysobjects where name = 'VAcompany')  
go
Select * from VaCompany where compcode ='X01'
go
select * from SysParam
go
select * from SysParam
go
select * from SysParam
go
select * from SysParam
go
Select ExeVer,ExeMinor,ExeSubRel,ExeSkip from VaVerTable where ExeId = 'SR429200.EXE'
go
Select ExeDepends,ExeDepends2,ExeDepends3,ExeDepends4 from VaVerTable where ExeId = 'SR429200.EXE'
go
Select Descr,Flag from GenLookup Where RecId=14400 and Flag = 1  and Code Like 'SR535500+ShoperMenuClick+%'
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='VaSysCounter'
go
SET NO_BROWSETABLE OFF
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='SuperClass1Present'
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='SuperClass2Present'
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='CustClass1Present'
go
SELECT COUNT(*) TotCnt FROM CUSTOMERS WHERE (CUSTCLASS1 > '' AND CUSTCLASS1 IS NOT NULL AND CUSTCLASS1 <> 'NA')
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='CustClass1Cap'
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='CustClass2Present'
go
SELECT COUNT(*) TotCnt FROM CUSTOMERS WHERE (CUSTCLASS2 > '' AND CUSTCLASS2 IS NOT NULL AND CUSTCLASS2 <> 'NA')
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='CustClass2Cap'
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='CustClass3Present'
go
SELECT COUNT(*) TotCnt FROM CUSTOMERS WHERE (CUSTCLASS3 > '' AND CUSTCLASS3 IS NOT NULL AND CUSTCLASS3 <> 'NA')
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='CustClass3Cap'
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='CustClass4Present'
go
SELECT COUNT(*) TotCnt FROM CUSTOMERS WHERE (CUSTCLASS4 > '' AND CUSTCLASS4 IS NOT NULL AND CUSTCLASS4 <> 'NA')
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='CustClass4Cap'
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='CustClass5Present'
go
SELECT COUNT(*) TotCnt FROM CUSTOMERS WHERE (CUSTCLASS5 > '' AND CUSTCLASS5 IS NOT NULL AND CUSTCLASS5 <> 'NA')
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='CustClass5Cap'
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='CustProfile1Present'
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='CustProfile2Present'
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='CustProfile3Present'
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='CustProfile4Present'
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='CustProfile5Present'
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='ItemAnaCd1Present'
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='ItemAnaCd2Present'
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='ItemAnaCd3Present'
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='ItemAnaCd4Present'
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='ItemAnaCd5Present'
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='SourceTaxTypePresent'
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='DestTaxTypePresent'
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='ItemAnaCd6Present'
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='ItemAnaCd7Present'
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='ItemAnaCd8Present'
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='ItemAnaCd9Present'
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='ItemAnaCd10Present'
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='ItemAnaCd11Present'
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='ItemAnaCd12Present'
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='ItemAnaCd13Present'
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='ItemAnaCd14Present'
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='ItemAnaCd15Present'
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='ItemAnaCd16Present'
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='ItemAnaCd17Present'
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='ItemAnaCd18Present'
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='ItemAnaCd19Present'
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='ItemAnaCd20Present'
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='ItemAnaCd21Present'
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='ItemAnaCd22Present'
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='ItemAnaCd23Present'
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='ItemAnaCd24Present'
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='ItemAnaCd25Present'
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='ItemAnaCd26Present'
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='ItemAnaCd27Present'
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='ItemAnaCd28Present'
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='ItemAnaCd29Present'
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='ItemAnaCd30Present'
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='ItemAnaCd31Present'
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='ItemAnaCd32Present'
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='ItemAnaCd32Caption'
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='GradeApplicable'
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='LocationApplicable'
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='SrlAdditionalFieldsCount'
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='SrlAdditionalFieldsCount'
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='SrlAdditionalFieldsCount'
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='SrlAdditionalFieldsCount'
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='ExciseDutyEnabledorNot'
go
SELECT Code FROM GenLookup WHERE RecId = 54 AND CODE in('27')
go
SELECT Code FROM GenLookup WHERE RecId = 54 AND CODE in('27','')
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='VaSysCounter'
go
select * from SysColumns where name = 'WindowsAuthAppDb' and id in (select id from Sysobjects where name = 'VAcompany')  
go
Select * from VaCompany where compcode ='X01'
go
select * from SysParam
go
select * from SysParam
go
select * from SysParam
go
select * from SysParam
go
Select ExeVer,ExeMinor,ExeSubRel,ExeSkip from VaVerTable where ExeId = 'SR708100.EXE'
go
Select ExeDepends,ExeDepends2,ExeDepends3,ExeDepends4 from VaVerTable where ExeId = 'SR708100.EXE'
go
Select Descr,Flag from GenLookup Where RecId=14400 and Flag = 1  and Code Like 'SR535500+ShoperMenuClick+%'
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='SHOPERSysDt'
go
Select * From VaContextHelpDtls Where AppName > ''  And AppName IN ('SR708100.Exe','SR708100.dll','SR708100.Ocx') And PgmOption = '1' And ControlName = 'FrmNewSalesTax'
go
Select * From VaContextHelpDtls Where (Isnull(RemindFlag,'') = '' Or RemindFlag ='Y')  And Appname IN ('SR708100.Exe','SR708100.Dll','SR708100.Ocx','SR708100') And ControlName = 'FrmNewSalesTax' And PgmOption = 1
go
select * from Sysparam where paramcode ='DestTaxTypePresent'
go
select * from Sysparam where paramcode ='DestTaxTypeRecId'
go
select * from Sysparam where paramcode ='SourceTaxTypeRecId'
go
select * from Sysparam where paramcode ='SourceTaxTypePresent'
go
select * from Sysparam where paramcode ='ProdTaxTypePresent'
go
select * from Sysparam where paramcode ='ProdTaxTypeRecId'
go
Select * from GenLookUp Where recid = 54 Order by Code
go
Select * from GenLookUp Where recid = 71 Order by Code
go
Select * from GenLookUp Where Recid = 909 Order by code
go
SET NO_BROWSETABLE OFF
go
 if exists (Select * from tempdb.dbo.sysobjects where Name Like '#TmpTaxDtls')  drop table tempdb.dbo.#TmpTaxDtls
go
Create Table #TmpTaxDtls (SRCTAXTYPE Varchar(100),DESTTAXTYPE Varchar(100),PRODTAXTYPE Varchar(100),TAXDESC VARCHAR(50),COMPNO INT,TAXRATE money,CompDesc Varchar (50),ComputedOn Varchar(50),EffectiveDate DateTime)
go
 INSERT INTO #TmpTaxDtls  SELECT SRCTAXTYPE,DESTTAXTYPE,PRODTAXTYPE,TAXDESC,1,ISNULL(T1RATE,0),T1Descr,T1CompOn,EffectiveDate FROM SALESTAXCAT WHERE (T1RATE > 0 Or T1Type ='D') And SrcTaxType Not Like 'P~%' UNION  SELECT SRCTAXTYPE,DESTTAXTYPE,PRODTAXTYPE,TAXDESC,2,ISNULL(T2RATE,0),T2Descr,T2CompOn,EffectiveDate FROM SALESTAXCAT WHERE (T2RATE > 0 Or T2Type ='D')  And SrcTaxType Not Like 'P~%' UNION  SELECT SRCTAXTYPE,DESTTAXTYPE,PRODTAXTYPE,TAXDESC,3,ISNULL(T3RATE,0),T3Descr,T3CompOn,EffectiveDate FROM SALESTAXCAT WHERE (T3RATE > 0 Or T3Type ='D') And SrcTaxType Not Like 'P~%' UNION  SELECT SRCTAXTYPE,DESTTAXTYPE,PRODTAXTYPE,TAXDESC,4,ISNULL(T4RATE,0),T4Descr,T4CompOn,EffectiveDate FROM SALESTAXCAT WHERE (T4RATE > 0 Or T4Type ='D') And SrcTaxType Not Like 'P~%' UNION  SELECT SRCTAXTYPE,DESTTAXTYPE,PRODTAXTYPE,TAXDESC,5,ISNULL(T5RATE,0),T5Descr,T5CompOn,EffectiveDate FROM SALESTAXCAT WHERE (T5RATE > 0 Or T5Type ='D') And SrcTaxType Not Like 'P~%'
go
 INSERT INTO #TmpTaxDtls  SELECT SRCTAXTYPE,DESTTAXTYPE,PRODTAXTYPE,TAXDESC,1,ISNULL(T1RATE,0),T1Descr,T1CompOn,EffectiveDate FROM SALESTAXREVISION WHERE (T1RATE > 0 Or T1Type ='D') And SrcTaxType Not Like 'P~%' UNION  SELECT SRCTAXTYPE,DESTTAXTYPE,PRODTAXTYPE,TAXDESC,2,ISNULL(T2RATE,0),T2Descr,T2CompOn,EffectiveDate FROM SALESTAXREVISION WHERE (T2RATE > 0 Or T2Type ='D') And SrcTaxType Not Like 'P~%' UNION  SELECT SRCTAXTYPE,DESTTAXTYPE,PRODTAXTYPE,TAXDESC,3,ISNULL(T3RATE,0),T3Descr,T3CompOn,EffectiveDate FROM SALESTAXREVISION WHERE (T3RATE > 0 Or T3Type ='D') And SrcTaxType Not Like 'P~%' UNION  SELECT SRCTAXTYPE,DESTTAXTYPE,PRODTAXTYPE,TAXDESC,4,ISNULL(T4RATE,0),T4Descr,T4CompOn,EffectiveDate FROM SALESTAXREVISION WHERE (T4RATE > 0 Or T4Type ='D') And SrcTaxType Not Like 'P~%' UNION  SELECT SRCTAXTYPE,DESTTAXTYPE,PRODTAXTYPE,TAXDESC,5,ISNULL(T5RATE,0),T5Descr,T5CompOn,EffectiveDate FROM SALESTAXREVISION WHERE (T5RATE > 0 Or T5Type ='D') And SrcTaxType Not Like 'P~%'
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='ProdTaxTypeRecId'
go
SET NO_BROWSETABLE OFF
go
Update #TmpTaxDtls Set PRODTAXTYPE = DESCR FROM GENLOOKUP WHERE PRODTAXTYPE = CODE AND RECID = 54
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='DestTaxTypeRecId'
go
SET NO_BROWSETABLE OFF
go
Update #TmpTaxDtls Set DESTTAXTYPE = DESCR FROM GENLOOKUP WHERE DESTTAXTYPE = CODE AND RECID = 71
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='SourceTaxTypeRecId'
go
SET NO_BROWSETABLE OFF
go
Update #TmpTaxDtls Set SRCTAXTYPE = DESCR FROM GENLOOKUP WHERE SRCTAXTYPE = CODE AND RECID = 70
go
Update #TmpTaxDtls Set TaxDesc = substring(TaxDesc ,charindex('#',TaxDesc )+1,len(TaxDesc )) 
go
Select EffectiveDate as[Effective Date], SRCTAXTYPE as [Source Tax Type],DESTTAXTYPE As [Destination Tax Type],PRODTAXTYPE AS [Product Tax Group],TaxDesc as [Tax Description],CompNo as [Comp. No.],TaxRate as [Tax Rate], CompDesc[Comp. Desc],ComputedOn [Computed On] From #TmpTaxDtls Order By EffectiveDate,SRCTAXTYPE,DESTTAXTYPE,PRODTAXTYPE,CompNo
go
 if exists (Select * from tempdb.dbo.sysobjects where Name Like '#TmpTaxDtls%')  drop table tempdb.dbo.#TmpTaxDtls
go
Select Code From Genlookup Where Descr = 'Local' and Recid = 71
go
Select Code From Genlookup Where Descr = 'Local' and Recid = 71
go
SET NO_BROWSETABLE ON
go
Select * from GenLookUp Where recid = 54 And (CODE NOT IN (SELECT DISTINCT PRODTAXTYPE FROM SALESTAXCAT WHERE DESTTAXTYPE = '0' And SRCTAXTYPE = '0' ) AND CODE NOT IN (SELECT DISTINCT PRODTAXTYPE FROM SALESTAXREVISION WHERE DESTTAXTYPE = '0' And SRCTAXTYPE = '0' )) Order by Code
go
SET NO_BROWSETABLE OFF
go
Select Code From Genlookup Where Descr = 'Local' and Recid = 71
go
Select Code From Genlookup Where Descr = 'Local' and Recid = 71
go
SET NO_BROWSETABLE ON
go
Select * from GenLookUp Where recid = 54 And (CODE NOT IN (SELECT DISTINCT PRODTAXTYPE FROM SALESTAXCAT WHERE DESTTAXTYPE = '0' And SRCTAXTYPE = '0' ) AND CODE NOT IN (SELECT DISTINCT PRODTAXTYPE FROM SALESTAXREVISION WHERE DESTTAXTYPE = '0' And SRCTAXTYPE = '0' )) Order by Code
go
SET NO_BROWSETABLE OFF
go
Select Code From Genlookup Where Descr = 'Local' and Recid = 71
go
Select Code From Genlookup Where Descr = 'Local' and Recid = 71
go
Select Code From Genlookup Where Descr = 'Local' and Recid = 71
go
Select Code,Descr From Genlookup Where Descr = 'Value After Discount' and Recid = 909
go
Select Code,Descr From Genlookup Where Descr = 'Value After Discount' and Recid = 909
go
Select Intg from Sysparam Where Paramcode = 'VASysCounter'
go
set implicit_transactions on 
go
Select Intg from Sysparam Where Paramcode = 'VASysCounter'
go
Update SalesTaxCat Set ShowroomCode = '0' Where ShowroomCode <> '0'
go
Insert Into SalesTaxRevisionHistory  (TaxRevisionId,DestTaxType,ProdTaxType,SrcTaxType,TaxDesc,CompCnt,T1Name,T1Descr,T1Type,T1DerivedFormula,T1CompOn,T1Rate,T1TaxInclusive,T1TaxPrintBill,T2Name,T2Descr,T2Type,T2DerivedFormula,T2CompOn,T2Rate,T2TaxInclusive,T2TaxPrintBill,T3Name,T3Descr,T3Type,T3DerivedFormula,T3CompOn,T3Rate,T3TaxInclusive,T3TaxPrintBill,T4Name,T4Descr,T4Type,T4DerivedFormula,T4CompOn,T4Rate,T4TaxInclusive,T4TaxPrintBill,T5Name,T5Descr,T5Type,T5DerivedFormula,T5CompOn,T5Rate,T5TaxInclusive,T5TaxPrintBill,HasPreTaxForm,PreTaxFormName,HasPostTaxForm,PostTaxFormName,EffectiveDate,AppliedDate,DateInsert,VAUid,VActr,VATermId,VACompCode,ShowRoomCode)  Select TaxRevisionId,DestTaxType,ProdTaxType,SrcTaxType,TaxDesc,CompCnt,T1Name,T1Descr,T1Type,T1DerivedFormula,T1CompOn,T1Rate,T1TaxInclusive,T1TaxPrintBill,T2Name,T2Descr,T2Type,T2DerivedFormula,T2CompOn,T2Rate,T2TaxInclusive,T2TaxPrintBill,T3Name,T3Descr,T3Type,T3DerivedFormula,T3CompOn,T3Rate,T3TaxInclusive,T3TaxPrintBill,T4Name,T4Descr,T4Type,T4DerivedFormula,T4CompOn,T4Rate,T4TaxInclusive,T4TaxPrintBill,T5Name,T5Descr,T5Type,T5DerivedFormula,T5CompOn,T5Rate,T5TaxInclusive,T5TaxPrintBill,HasPreTaxForm,PreTaxFormName,HasPostTaxForm,PostTaxFormName,EffectiveDate,AppliedDate,DateInsert,VAUid,VActr,VATermId,VACompCode,ShowRoomCode From SalesTaxRevision Where  ShowRoomCode = '0' And ProdTaxType = '27' And SrcTaxType = '0' And DestTaxType = '0' and TaxRevisionId =5
go
Update SalesTaxRevisionHistory Set VaCtr = 10426 Where  ShowRoomCode = '0' And ProdTaxType = '27' And SrcTaxType = '0' And DestTaxType = '0' and TaxRevisionId =5
go
Delete From SalesTaxCat Where  (ShowRoomCode = '0' or ShowroomCode is Null or ShowroomCode = '0') And ProdTaxType = '27' And SrcTaxType = '0' And DestTaxType = '0'
go
Insert Into SalesTaxCat (TaxRevisionId,DestTaxType,ProdTaxType,SrcTaxType,TaxDesc,CompCnt,T1Name,T1Descr,T1Type,T1DerivedFormula,T1CompOn,T1Rate,T1TaxInclusive,T1TaxPrintBill,T2Name,T2Descr,T2Type,T2DerivedFormula,T2CompOn,T2Rate,T2TaxInclusive,T2TaxPrintBill,T3Name,T3Descr,T3Type,T3DerivedFormula,T3CompOn,T3Rate,T3TaxInclusive,T3TaxPrintBill,T4Name,T4Descr,T4Type,T4DerivedFormula,T4CompOn,T4Rate,T4TaxInclusive,T4TaxPrintBill,T5Name,T5Descr,T5Type,T5DerivedFormula,T5CompOn,T5Rate,T5TaxInclusive,T5TaxPrintBill,HasPreTaxForm,PreTaxFormName,HasPostTaxForm,PostTaxFormName,EffectiveDate,AppliedDate,DateInsert,VAUid,VActr,VATermId,VACompCode,ShowRoomCode) Select TaxRevisionId,DestTaxType,ProdTaxType,SrcTaxType,TaxDesc,CompCnt,T1Name,T1Descr,T1Type,T1DerivedFormula,T1CompOn,T1Rate,T1TaxInclusive,T1TaxPrintBill,T2Name,T2Descr,T2Type,T2DerivedFormula,T2CompOn,T2Rate,T2TaxInclusive,T2TaxPrintBill,T3Name,T3Descr,T3Type,T3DerivedFormula,T3CompOn,T3Rate,T3TaxInclusive,T3TaxPrintBill,T4Name,T4Descr,T4Type,T4DerivedFormula,T4CompOn,T4Rate,T4TaxInclusive,T4TaxPrintBill,T5Name,T5Descr,T5Type,T5DerivedFormula,T5CompOn,T5Rate,T5TaxInclusive,T5TaxPrintBill,HasPreTaxForm,PreTaxFormName,HasPostTaxForm,PostTaxFormName,EffectiveDate,AppliedDate,DateInsert,VAUid,VActr,VATermId,VACompCode,ShowRoomCode From SalesTaxRevision Where TaxRevisionId =5 And  ShowRoomCode = '0' And ProdTaxType = '27' And SrcTaxType = '0' And DestTaxType = '0'
go
Update SalesTaxCat Set VaCtr = 10426 Where TaxRevisionId =5 And ShowRoomCode = '0'
go
Delete From SalesTaxRevision Where ShowRoomCode = '0' And ProdTaxType = '27' And SrcTaxType = '0' And DestTaxType = '0' and TaxRevisionId =5
go
Update SalesTaxCat Set AppliedDate = '2025-08-14' Where TaxRevisionId = 5 And ShowRoomCode = '0'
go
IF @@TRANCOUNT > 0 COMMIT TRAN
go
set implicit_transactions off SET NO_BROWSETABLE ON
go
Select * from GenLookUp Where recid = 54 Order by Code
go
Select * from GenLookUp Where recid = 71 Order by Code
go
Select * from GenLookUp Where Recid = 909 Order by code
go
select * from SysColumns where name = 'WindowsAuthAppDb' and id in (select id from Sysobjects where name = 'VAcompany')  
go
Select * from VaCompany where compcode ='X01'
go
select * from SysParam
go
select * from SysParam
go
select * from SysParam
go
select * from SysParam
go
Select ExeVer,ExeMinor,ExeSubRel,ExeSkip from VaVerTable where ExeId = 'SR122000.exe'
go
Select ExeDepends,ExeDepends2,ExeDepends3,ExeDepends4 from VaVerTable where ExeId = 'SR122000.exe'
go
Select Descr,Flag from GenLookup Where RecId=14400 and Flag = 1  and Code Like 'SR535500+ShoperMenuClick+%'
go
select MultiInstance from vaMenu where ExeName='SR122000.exe'
go
select BoundToLookup, BoundToLookupID,FieldType from TempIMConfigsuper where FN = 'SrcTaxType'
go
select BoundToLookup, BoundToLookupID from itemmasterconfig where FN = 'ProdTaxType'
go
select id from sysparam where intg = 54
go
select boolean from sysparam where id = '00035A'
go
select code as Cd from genlookup where recid = 54
go
select BoundToLookup, BoundToLookupID,FieldType from TempIMConfigsuper where FN = 'SrcTaxType'
go
select BoundToLookup, BoundToLookupID from itemmasterconfig where FN = 'LeastSalableQty'
go
select BoundToLookup, BoundToLookupID,FieldType from TempIMConfigsuper where FN = 'LeastSalableQty'
go
select BoundToLookup, BoundToLookupID from itemmasterconfig where FN = 'EOQ'
go
select BoundToLookup, BoundToLookupID,FieldType from TempIMConfigsuper where FN = 'EOQ'
go
select BoundToLookup, BoundToLookupID from itemmasterconfig where FN = 'MinOrdQty'
go
select BoundToLookup, BoundToLookupID,FieldType from TempIMConfigsuper where FN = 'MinOrdQty'
go
select BoundToLookup, BoundToLookupID from itemmasterconfig where FN = 'RegularInd'
go
select id from sysparam where intg = 961
go
select boolean from sysparam where id = 'SR6-0702-000144A'
go
select code as Cd from genlookup where recid = 961
go
select BoundToLookup, BoundToLookupID,FieldType from TempIMConfigsuper where FN = 'RegularInd'
go
select BoundToLookup, BoundToLookupID from itemmasterconfig where FN = 'IsInventoryItem'
go
select BoundToLookup, BoundToLookupID,FieldType from TempIMConfigsuper where FN = 'IsInventoryItem'
go
select BoundToLookup, BoundToLookupID from itemmasterconfig where FN = 'IsService'
go
SET NO_BROWSETABLE OFF
go
Update TempIMConfigsuper Set CmnFieldFlag= 0,CmnFieldData=''
go
Update TempIMConfigsuper Set CmnFieldFlag= 1, CmnFieldData='0' Where FN = 'SrcTaxType'
go
Update TempIMConfigsuper Set CmnFieldFlag= 1, CmnFieldData='1' Where FN = 'LeastSalableQty'
go
Update TempIMConfigsuper Set CmnFieldFlag= 1, CmnFieldData='1' Where FN = 'EOQ'
go
Update TempIMConfigsuper Set CmnFieldFlag= 1, CmnFieldData='1' Where FN = 'MinOrdQty'
go
Update TempIMConfigsuper Set CmnFieldFlag= 1, CmnFieldData='' Where FN = 'ReordLvl'
go
Update TempIMConfigsuper Set CmnFieldFlag= 1, CmnFieldData='0' Where FN = 'RegularInd'
go
Update TempIMConfigsuper Set CmnFieldFlag= 1, CmnFieldData='Yes' Where FN = 'IsInventoryItem'
go
Update TempIMConfigsuper Set CmnFieldFlag= 1, CmnFieldData='Yes' Where FN = 'IsRPTaxInclusive'
go
Update TempIMConfigsuper Set CmnFieldFlag= 1, CmnFieldData='Yes' Where FN = 'IsBillable'
go
Update TempIMConfigsuper Set CmnFieldFlag= 1, CmnFieldData='No' Where FN = 'IsService'
go
Select * from TempIMConfigsuper Where UserWiseConfigSrlNo>0 Order by UserWiseConfigSrlNo,FID
go
SET NO_BROWSETABLE ON
go
select BoundToLookup, BoundToLookupID,FieldType from TempIMConfigsuper where FN = 'StockNo'
go
SET NO_BROWSETABLE OFF
go
Select * from TempIMConfigsuper Where Fid not Like 'fl000_a' Order by UserWiseConfigSrlNo,FID
go
SET NO_BROWSETABLE ON
go
Select count(*)  as RecCount from userwiseitemconfig where userid='super'
go
SET NO_BROWSETABLE ON
go
SET NO_BROWSETABLE OFF
go
update userwiseitemconfig set FieldiD_Position = 'FL0001#1#FL0004#2#FL0003#3#FL0005#4#FL0006#5#FL0007#6#FL0016#7#FL0010#8#FL0011#9#FL0023#10#FL0022#11#FL0012#12#FL0013#13#FL0008#14#FL0020#15#FL0021#16#FL0019#17#FL0018#18#FL0014#19#FL0015#20#FL0042#21#FL0043#22#' where userid='super'
go
Update TempIMConfigsuper Set CmnFieldFlag= 0,CmnFieldData=''
go
Update TempIMConfigsuper Set CmnFieldFlag= 1, CmnFieldData='0' Where FN = 'SrcTaxType'
go
Update TempIMConfigsuper Set CmnFieldFlag= 1, CmnFieldData='1' Where FN = 'LeastSalableQty'
go
Update TempIMConfigsuper Set CmnFieldFlag= 1, CmnFieldData='1' Where FN = 'EOQ'
go
Update TempIMConfigsuper Set CmnFieldFlag= 1, CmnFieldData='1' Where FN = 'MinOrdQty'
go
Update TempIMConfigsuper Set CmnFieldFlag= 1, CmnFieldData='' Where FN = 'ReordLvl'
go
Update TempIMConfigsuper Set CmnFieldFlag= 1, CmnFieldData='0' Where FN = 'RegularInd'
go
Update TempIMConfigsuper Set CmnFieldFlag= 1, CmnFieldData='Yes' Where FN = 'IsInventoryItem'
go
Update TempIMConfigsuper Set CmnFieldFlag= 1, CmnFieldData='Yes' Where FN = 'IsRPTaxInclusive'
go
Update TempIMConfigsuper Set CmnFieldFlag= 1, CmnFieldData='Yes' Where FN = 'IsBillable'
go
Update TempIMConfigsuper Set CmnFieldFlag= 1, CmnFieldData='No' Where FN = 'IsService'
go
Select * from TempIMConfigsuper Where UserWiseConfigSrlNo>0 Order by UserWiseConfigSrlNo,FID
go
SET NO_BROWSETABLE ON
go
select BoundToLookup, BoundToLookupID,FieldType from TempIMConfigsuper where FN = 'StockNo'
go
select BoundToLookup, BoundToLookupID from itemmasterconfig where FN = 'Class2Cd'
go
select BoundToLookup, BoundToLookupID,FieldType from TempIMConfigsuper where FN = 'Class2Cd'
go
select BoundToLookup, BoundToLookupID from itemmasterconfig where FN = 'Class1Cd'
go
select BoundToLookup, BoundToLookupID,FieldType from TempIMConfigsuper where FN = 'Class1Cd'
go
select BoundToLookup, BoundToLookupID from itemmasterconfig where FN = 'SubClass1Cd'
go
SET NO_BROWSETABLE OFF
go
Select isnull(RetailMarkUp,0) As RetailMarkUp,isnull(DealerMarkUp,0) As DealerMarkUp  from Class12Combo Where Class1Cd = 'abcd' and Class2Cd = 'abcd'
go
SET NO_BROWSETABLE ON
go
select BoundToLookup, BoundToLookupID,FieldType from TempIMConfigsuper where FN = 'SubClass1Cd'
go
select BoundToLookup, BoundToLookupID from itemmasterconfig where FN = 'SubClass2Cd'
go
select BoundToLookup, BoundToLookupID,FieldType from TempIMConfigsuper where FN = 'SubClass2Cd'
go
select BoundToLookup, BoundToLookupID from itemmasterconfig where FN = 'SizeCd'
go
select BoundToLookup, BoundToLookupID,FieldType from TempIMConfigsuper where FN = 'SizeCd'
go
select BoundToLookup, BoundToLookupID from itemmasterconfig where FN = 'ItemDesc'
go
select BoundToLookup, BoundToLookupID,FieldType from TempIMConfigsuper where FN = 'ItemDesc'
go
select BoundToLookup, BoundToLookupID from itemmasterconfig where FN = 'Retail_Price'
go
select BoundToLookup, BoundToLookupID,FieldType from TempIMConfigsuper where FN = 'Retail_Price'
go
select BoundToLookup, BoundToLookupID from itemmasterconfig where FN = 'Dealer_Price'
go
select BoundToLookup, BoundToLookupID,FieldType from TempIMConfigsuper where FN = 'Dealer_Price'
go
select BoundToLookup, BoundToLookupID from itemmasterconfig where FN = 'CurrentCost'
go
select BoundToLookup, BoundToLookupID,FieldType from TempIMConfigsuper where FN = 'CurrentCost'
go
select BoundToLookup, BoundToLookupID from itemmasterconfig where FN = 'LastPurchPrice'
go
select BoundToLookup, BoundToLookupID,FieldType from TempIMConfigsuper where FN = 'LastPurchPrice'
go
select BoundToLookup, BoundToLookupID from itemmasterconfig where FN = 'ProdTaxType'
go
select id from sysparam where intg = 54
go
select boolean from sysparam where id = '00035A'
go
select code as Cd from genlookup where recid = 54
go
select BoundToLookup, BoundToLookupID,FieldType from TempIMConfigsuper where FN = 'ProdTaxType'
go
SET NO_BROWSETABLE OFF
go
If exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[TempItemMastersuper]') and OBJECTPROPERTY(id, N'IsUserTable') = 1) DROP  Table [dbo].[TempItemMastersuper]
go
Select * Into TempItemMastersuper from ItemMaster where 1=2
go
alter table TempItemMastersuper drop column BatchSrlNo
go
alter table TempItemMastersuper add BatchSrlNo varchar(16) default 0
go
Update TempIMConfigsuper Set CmnFieldFlag= 0,CmnFieldData=''
go
Update TempIMConfigsuper Set CmnFieldFlag= 1, CmnFieldData='0' Where FN = 'SrcTaxType'
go
Update TempIMConfigsuper Set CmnFieldFlag= 1, CmnFieldData='1' Where FN = 'LeastSalableQty'
go
Update TempIMConfigsuper Set CmnFieldFlag= 1, CmnFieldData='1' Where FN = 'EOQ'
go
Update TempIMConfigsuper Set CmnFieldFlag= 1, CmnFieldData='1' Where FN = 'MinOrdQty'
go
Update TempIMConfigsuper Set CmnFieldFlag= 1, CmnFieldData='' Where FN = 'ReordLvl'
go
Update TempIMConfigsuper Set CmnFieldFlag= 1, CmnFieldData='0' Where FN = 'RegularInd'
go
Update TempIMConfigsuper Set CmnFieldFlag= 1, CmnFieldData='Yes' Where FN = 'IsInventoryItem'
go
Update TempIMConfigsuper Set CmnFieldFlag= 1, CmnFieldData='Yes' Where FN = 'IsRPTaxInclusive'
go
Update TempIMConfigsuper Set CmnFieldFlag= 1, CmnFieldData='Yes' Where FN = 'IsBillable'
go
Update TempIMConfigsuper Set CmnFieldFlag= 1, CmnFieldData='No' Where FN = 'IsService'
go
Select * from TempIMConfigsuper Where UserWiseConfigSrlNo>0 Order by UserWiseConfigSrlNo,FID
go
select CanCreateNewC1C2Combo from userwiseitemconfig where userid='super'
go
Select * from TempIMConfigsuper where Flag2 = 2 And Flag4 = 2
go
SET NO_BROWSETABLE ON
go
select count(*) as RecCount from class12combo where class1cd = 'abcd' and class2cd = 'abcd' 
go
SET NO_BROWSETABLE ON
go
SET NO_BROWSETABLE OFF
go
UPDATE TempItemMastersuper SET BatchApplicable = NULL WHERE BatchApplicable = '9'
go
UPDATE TempItemMastersuper SET GradeApplicable = NULL WHERE GradeApplicable = '9'
go
UPDATE TempItemMastersuper SET LocationApplicable = NULL WHERE LocationApplicable = '9'
go
select * from SysColumns where name = 'WindowsAuthAppDb' and id in (select id from Sysobjects where name = 'VAcompany')  
go
Select * from VaCompany where compcode ='X01'
go
select * from SysParam
go
select * from SysParam
go
select * from SysParam
go
select * from SysParam
go
Select ExeVer,ExeMinor,ExeSubRel,ExeSkip from VaVerTable where ExeId = 'SR122000.exe'
go
Select ExeDepends,ExeDepends2,ExeDepends3,ExeDepends4 from VaVerTable where ExeId = 'SR122000.exe'
go
Select Descr,Flag from GenLookup Where RecId=14400 and Flag = 1  and Code Like 'SR535500+ShoperMenuClick+%'
go
select MultiInstance from vaMenu where ExeName='SR122000.exe'
go
select * from SysColumns where name = 'WindowsAuthAppDb' and id in (select id from Sysobjects where name = 'VAcompany')  
go
Select * from VaCompany where compcode ='X01'
go
select * from SysParam
go
select * from SysParam
go
select * from SysParam
go
select * from SysParam
go
Select ExeVer,ExeMinor,ExeSubRel,ExeSkip from VaVerTable where ExeId = 'SR429200.EXE'
go
Select ExeDepends,ExeDepends2,ExeDepends3,ExeDepends4 from VaVerTable where ExeId = 'SR429200.EXE'
go
Select Descr,Flag from GenLookup Where RecId=14400 and Flag = 1  and Code Like 'SR535500+ShoperMenuClick+%'
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='VaSysCounter'
go
SET NO_BROWSETABLE OFF
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='SuperClass1Present'
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='SuperClass2Present'
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='CustClass1Present'
go
SELECT COUNT(*) TotCnt FROM CUSTOMERS WHERE (CUSTCLASS1 > '' AND CUSTCLASS1 IS NOT NULL AND CUSTCLASS1 <> 'NA')
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='CustClass1Cap'
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='CustClass2Present'
go
SELECT COUNT(*) TotCnt FROM CUSTOMERS WHERE (CUSTCLASS2 > '' AND CUSTCLASS2 IS NOT NULL AND CUSTCLASS2 <> 'NA')
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='CustClass2Cap'
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='CustClass3Present'
go
SELECT COUNT(*) TotCnt FROM CUSTOMERS WHERE (CUSTCLASS3 > '' AND CUSTCLASS3 IS NOT NULL AND CUSTCLASS3 <> 'NA')
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='CustClass3Cap'
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='CustClass4Present'
go
SELECT COUNT(*) TotCnt FROM CUSTOMERS WHERE (CUSTCLASS4 > '' AND CUSTCLASS4 IS NOT NULL AND CUSTCLASS4 <> 'NA')
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='CustClass4Cap'
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='CustClass5Present'
go
SELECT COUNT(*) TotCnt FROM CUSTOMERS WHERE (CUSTCLASS5 > '' AND CUSTCLASS5 IS NOT NULL AND CUSTCLASS5 <> 'NA')
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='CustClass5Cap'
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='CustProfile1Present'
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='CustProfile2Present'
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='CustProfile3Present'
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='CustProfile4Present'
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='CustProfile5Present'
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='ItemAnaCd1Present'
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='ItemAnaCd2Present'
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='ItemAnaCd3Present'
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='ItemAnaCd4Present'
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='ItemAnaCd5Present'
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='SourceTaxTypePresent'
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='DestTaxTypePresent'
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='ItemAnaCd6Present'
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='ItemAnaCd7Present'
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='ItemAnaCd8Present'
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='ItemAnaCd9Present'
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='ItemAnaCd10Present'
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='ItemAnaCd11Present'
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='ItemAnaCd12Present'
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='ItemAnaCd13Present'
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='ItemAnaCd14Present'
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='ItemAnaCd15Present'
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='ItemAnaCd16Present'
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='ItemAnaCd17Present'
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='ItemAnaCd18Present'
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='ItemAnaCd19Present'
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='ItemAnaCd20Present'
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='ItemAnaCd21Present'
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='ItemAnaCd22Present'
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='ItemAnaCd23Present'
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='ItemAnaCd24Present'
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='ItemAnaCd25Present'
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='ItemAnaCd26Present'
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='ItemAnaCd27Present'
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='ItemAnaCd28Present'
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='ItemAnaCd29Present'
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='ItemAnaCd30Present'
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='ItemAnaCd31Present'
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='ItemAnaCd32Present'
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='ItemAnaCd32Caption'
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='GradeApplicable'
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='LocationApplicable'
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='SrlAdditionalFieldsCount'
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='SrlAdditionalFieldsCount'
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='SrlAdditionalFieldsCount'
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='SrlAdditionalFieldsCount'
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='ExciseDutyEnabledorNot'
go
SELECT COUNT(*) FROM SISJobList WHERE Status NOT IN ('COMPLETED', 'DELETED') AND JobType = 'UPLOAD' AND CreationTime < '2026-05-03 16:57:45'
go
SET NO_BROWSETABLE ON
go
select BoundToLookup, BoundToLookupID,FieldType from TempIMConfigsuper where FN = 'StockNo'
go
select BoundToLookup, BoundToLookupID from itemmasterconfig where FN = 'Class2Cd'
go
Select distinct(Class1cd) from class12combo
go
Select distinct(Class2cd) from class12combo where Class1cd = 'ACC'
go
Select descr from genlookup where recid = 2 and code = 'CRC'
go
Select descr from genlookup where recid = 1 and code = 'ACC'
go
select BoundToLookup, BoundToLookupID,FieldType from TempIMConfigsuper where FN = 'StockNo'
go
select BoundToLookup, BoundToLookupID from itemmasterconfig where FN = 'Class2Cd'
go
select BoundToLookup, BoundToLookupID,FieldType from TempIMConfigsuper where FN = 'Class2Cd'
go
select BoundToLookup, BoundToLookupID from itemmasterconfig where FN = 'Class1Cd'
go
SET NO_BROWSETABLE OFF
go
Select isnull(RetailMarkUp,0) As RetailMarkUp,isnull(DealerMarkUp,0) As DealerMarkUp  from Class12Combo Where Class1Cd = 'ACC' and Class2Cd = 'CRC'
go
SET NO_BROWSETABLE ON
go
select BoundToLookup, BoundToLookupID,FieldType from TempIMConfigsuper where FN = 'Class1Cd'
go
select BoundToLookup, BoundToLookupID from itemmasterconfig where FN = 'SubClass1Cd'
go
SET NO_BROWSETABLE OFF
go
Select isnull(RetailMarkUp,0) As RetailMarkUp,isnull(DealerMarkUp,0) As DealerMarkUp  from Class12Combo Where Class1Cd = 'ACC' and Class2Cd = 'CRC'
go
SET NO_BROWSETABLE ON
go
select BoundToLookup, BoundToLookupID,FieldType from TempIMConfigsuper where FN = 'SubClass1Cd'
go
SET NO_BROWSETABLE OFF
go
If exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[TempItemMastersuper]') and OBJECTPROPERTY(id, N'IsUserTable') = 1) DROP  Table [dbo].[TempItemMastersuper]
go
Select * Into TempItemMastersuper from ItemMaster where 1=2
go
alter table TempItemMastersuper drop column BatchSrlNo
go
alter table TempItemMastersuper add BatchSrlNo varchar(16) default 0
go
Update TempIMConfigsuper Set CmnFieldFlag= 0,CmnFieldData=''
go
Update TempIMConfigsuper Set CmnFieldFlag= 1, CmnFieldData='0' Where FN = 'SrcTaxType'
go
Update TempIMConfigsuper Set CmnFieldFlag= 1, CmnFieldData='1' Where FN = 'LeastSalableQty'
go
Update TempIMConfigsuper Set CmnFieldFlag= 1, CmnFieldData='1' Where FN = 'EOQ'
go
Update TempIMConfigsuper Set CmnFieldFlag= 1, CmnFieldData='1' Where FN = 'MinOrdQty'
go
Update TempIMConfigsuper Set CmnFieldFlag= 1, CmnFieldData='' Where FN = 'ReordLvl'
go
Update TempIMConfigsuper Set CmnFieldFlag= 1, CmnFieldData='0' Where FN = 'RegularInd'
go
Update TempIMConfigsuper Set CmnFieldFlag= 1, CmnFieldData='Yes' Where FN = 'IsInventoryItem'
go
Update TempIMConfigsuper Set CmnFieldFlag= 1, CmnFieldData='Yes' Where FN = 'IsRPTaxInclusive'
go
Update TempIMConfigsuper Set CmnFieldFlag= 1, CmnFieldData='Yes' Where FN = 'IsBillable'
go
Update TempIMConfigsuper Set CmnFieldFlag= 1, CmnFieldData='No' Where FN = 'IsService'
go
Select * from TempIMConfigsuper Where UserWiseConfigSrlNo>0 Order by UserWiseConfigSrlNo,FID
go
select CanCreateNewC1C2Combo from userwiseitemconfig where userid='super'
go
Select * from TempIMConfigsuper where Flag2 = 2 And Flag4 = 2
go
SET NO_BROWSETABLE ON
go
select count(*) as RecCount from class12combo where class1cd = 'ACC' and class2cd = 'CRC' 
go
SET NO_BROWSETABLE ON
go
SET NO_BROWSETABLE OFF
go
Insert Into TempItemMastersuper(StockNo,Class2Cd,Class1Cd,SubClass1Cd,SubClass2Cd,SizeCd,ItemDesc,Retail_Price,Dealer_Price,CurrentCost,LastPurchPrice,ProdTaxType,SrcTaxType,LeastSalableQty,EOQ,MinOrdQty,ReordLvl,RegularInd,IsInventoryItem,IsRPTaxInclusive,IsBillable,IsService) Values('00122','CRC','ACC','123456','55555red','45','first product',1555,750,750,750,'27','0',1,1,1,0,'0','1','1','1','0')
go
UPDATE TempItemMastersuper SET BatchApplicable = NULL WHERE BatchApplicable = '9'
go
UPDATE TempItemMastersuper SET GradeApplicable = NULL WHERE GradeApplicable = '9'
go
UPDATE TempItemMastersuper SET LocationApplicable = NULL WHERE LocationApplicable = '9'
go
Drop Table TempItemMastersuper1
go
UPDATE TempItemMastersuper SET VATermId = 'OLD' WHERE StockNo IN(Select StockNo From ItemMaster)
go
SELECT StockNo FROM TempItemMastersuper Where VATermId = 'OLD'
go
set implicit_transactions on SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='VaSysCounter'
go
SET NO_BROWSETABLE OFF
go
 If Exists (Select * From SysObjects Where id = object_id(N'[dbo].[Tr_Ins_ItemMaster]')) Alter Table [ItemMaster] DISABLE Trigger [Tr_Ins_ItemMaster]
go
 SELECT COL_LENGTH('TempItemMastersuper','Quantity') AS 'Found'
go
SET NO_BROWSETABLE ON
go
Select distinct UpdateStockMaster from userwiseitemconfig where userid='super'
go
SET NO_BROWSETABLE OFF
go
Update TempItemMastersuper Set BField1 = 0 
go
Update TempItemMastersuper Set BField1 = 1  From TempItemMastersuper A, StockMaster B  Where A.StockNo = B.StockNo 
go
Insert into stockmaster (stockno,LocnId,BatchSrlno,curbalqty,curbalval,VActr,YrOpBalQty,YrOpBalVal,VAUid,VATermId,VACompCode) select StockNo,0,BatchSrlNo,JwlMakeCharge,JwlMakeCharge * CurrentCost,10426,0,0,'super','.','X01'  From TempItemMastersuper Where BField1 = 0 
go
update stockmaster set YrOpBalQty = 0 Where YrOpBalQty Is NULL
go
update stockmaster set YrOpBalVal = 0 Where YrOpBalVal Is NULL
go
update stockmaster set CurBalQty = 0 Where CurBalQty Is NULL
go
update stockmaster set CurBalVal = 0 Where CurBalVal Is NULL
go
Update TempItemMastersuper Set MfgDate ='1900-01-01' Where MfgDate Is NULL
go
Update TempItemMastersuper Set ExpDate ='1900-01-01' Where ExpDate Is NULL
go
Update TempItemMastersuper Set DField1 ='1900-01-01' Where DField1 Is NULL
go
Update TempItemMastersuper Set DField2 ='1900-01-01' Where DField2 Is NULL
go
Update TempItemMastersuper Set DField3 ='1900-01-01' Where DField3 Is NULL
go
Update TempItemMastersuper Set DateInsert =Getdate() Where DateInsert Is NULL
go
Update TempItemMastersuper Set Lastupdateddate =GetDate() Where Lastupdateddate Is NULL
go
Update TempItemMastersuper Set ExtDescPresent ='' Where ExtDescPresent Is NULL
go
Update TempItemMastersuper Set UseJwlPricing =0 Where UseJwlPricing Is NULL
go
Update TempItemMastersuper Set ReordLvl =0 Where ReordLvl Is NULL
go
Update TempItemMastersuper Set EOQ =0 Where EOQ Is NULL
go
Update TempItemMastersuper Set MinOrdQty =0 Where MinOrdQty Is NULL
go
Update TempItemMastersuper Set JwlMetalInd ='' Where JwlMetalInd Is NULL
go
Update TempItemMastersuper Set JwlCaratage =1 Where JwlCaratage Is NULL
go
Update TempItemMastersuper Set JwlGrossWt =0 Where JwlGrossWt Is NULL
go
Update TempItemMastersuper Set JwlStoneWt =0 Where JwlStoneWt Is NULL
go
Update TempItemMastersuper Set JwlWtFactor =0 Where JwlWtFactor Is NULL
go
Update TempItemMastersuper Set JwlRateFactor =0 Where JwlRateFactor Is NULL
go
Update TempItemMastersuper Set JwlStoneVal =0 Where JwlStoneVal Is NULL
go
Update TempItemMastersuper Set JwlValFactor =0 Where JwlValFactor Is NULL
go
Update TempItemMastersuper Set AnalCode1 ='' Where AnalCode1 Is NULL
go
Update TempItemMastersuper Set AnalCode2 ='' Where AnalCode2 Is NULL
go
Update TempItemMastersuper Set AnalCode3 ='' Where AnalCode3 Is NULL
go
Update TempItemMastersuper Set AnalCode4 ='' Where AnalCode4 Is NULL
go
Update TempItemMastersuper Set AnalCode5 ='' Where AnalCode5 Is NULL
go
Update TempItemMastersuper Set AnalCode6 ='' Where AnalCode6 Is NULL
go
Update TempItemMastersuper Set AnalCode7 ='' Where AnalCode7 Is NULL
go
Update TempItemMastersuper Set AnalCode8 ='' Where AnalCode8 Is NULL
go
Update TempItemMastersuper Set AnalCode9 ='' Where AnalCode9 Is NULL
go
Update TempItemMastersuper Set AnalCode10 ='' Where AnalCode10 Is NULL
go
Update TempItemMastersuper Set AnalCode11 ='' Where AnalCode11 Is NULL
go
Update TempItemMastersuper Set AnalCode12 ='' Where AnalCode12 Is NULL
go
Update TempItemMastersuper Set AnalCode13 ='' Where AnalCode13 Is NULL
go
Update TempItemMastersuper Set AnalCode14 ='' Where AnalCode14 Is NULL
go
Update TempItemMastersuper Set AnalCode15 ='' Where AnalCode15 Is NULL
go
Update TempItemMastersuper Set AnalCode16 ='' Where AnalCode16 Is NULL
go
Update TempItemMastersuper Set AnalCode17 ='' Where AnalCode17 Is NULL
go
Update TempItemMastersuper Set AnalCode18 ='' Where AnalCode18 Is NULL
go
Update TempItemMastersuper Set AnalCode19 ='' Where AnalCode19 Is NULL
go
Update TempItemMastersuper Set AnalCode20 ='' Where AnalCode20 Is NULL
go
Update TempItemMastersuper Set AnalCode21 ='' Where AnalCode21 Is NULL
go
Update TempItemMastersuper Set AnalCode22 ='' Where AnalCode22 Is NULL
go
Update TempItemMastersuper Set AnalCode23 ='' Where AnalCode23 Is NULL
go
Update TempItemMastersuper Set AnalCode24 ='' Where AnalCode24 Is NULL
go
Update TempItemMastersuper Set AnalCode25 ='' Where AnalCode25 Is NULL
go
Update TempItemMastersuper Set AnalCode26 ='' Where AnalCode26 Is NULL
go
Update TempItemMastersuper Set AnalCode27 ='' Where AnalCode27 Is NULL
go
Update TempItemMastersuper Set AnalCode28 ='' Where AnalCode28 Is NULL
go
Update TempItemMastersuper Set AnalCode29 ='' Where AnalCode29 Is NULL
go
Update TempItemMastersuper Set AnalCode30 ='' Where AnalCode30 Is NULL
go
Update TempItemMastersuper Set AnalCode31 ='' Where AnalCode31 Is NULL
go
Update TempItemMastersuper Set AnalCode32 ='' Where AnalCode32 Is NULL
go
Update TempItemMastersuper Set ShelfLife =0 Where ShelfLife Is NULL
go
Update TempItemMastersuper Set ImagePresent =0 Where ImagePresent Is NULL
go
Update TempItemMastersuper Set RtlMarkUp =0 Where RtlMarkUp Is NULL
go
Update TempItemMastersuper Set DlrMarkUp =0 Where DlrMarkUp Is NULL
go
Update TempItemMastersuper Set VAUid ='super' Where VAUid Is NULL
go
Update TempItemMastersuper Set VActr = 10426 Where VActr Is NULL
go
Update TempItemMastersuper Set VActr = 10426 Where VActr Is NULL
go
Update TempItemMastersuper Set VATermId = '.' Where VATermId Is NULL
go
Update TempItemMastersuper Set VACompCode = 'X01' Where VACompCode Is NULL
go
Update TempItemMastersuper Set CCStockNo = '' Where CCStockNo Is NULL
go
Update TempItemMastersuper Set GradeCd = '' Where GradeCd Is NULL
go
Update TempItemMastersuper Set ImageID = '' Where ImageID Is NULL
go
Update TempItemMastersuper Set SField1 = '' Where SField1 Is NULL
go
Update TempItemMastersuper Set SField2 = '' Where SField2 Is NULL
go
Update TempItemMastersuper Set SField3 = '' Where SField3 Is NULL
go
Update TempItemMastersuper Set SField4 = '' Where SField4 Is NULL
go
Update TempItemMastersuper Set SField5 = '' Where SField5 Is NULL
go
Update TempItemMastersuper Set NField1 = 0 Where NField1 Is NULL
go
Update TempItemMastersuper Set NField2 = 0 Where NField2 Is NULL
go
Update TempItemMastersuper Set NField3 = 0 Where NField3 Is NULL
go
Update TempItemMastersuper Set NField4 = 0 Where NField4 Is NULL
go
Update TempItemMastersuper Set NField5 = 0 Where NField5 Is NULL
go
Update TempItemMastersuper Set BField2 = 0 Where BField2 Is NULL
go
Update TempItemMastersuper Set MerchId = '' Where MerchId Is NULL
go
Update TempItemMastersuper Set DiscId = 0 Where DiscId Is NULL
go
Update TempItemMastersuper Set DiscPer = 0 Where DiscPer Is NULL
go
Update TempItemMastersuper Set DiscAmt = 0 Where DiscAmt Is NULL
go
Update TempItemMastersuper Set DiscSQLQry = '' Where DiscSQLQry Is NULL
go
Update TempItemMastersuper Set PriceFactorId = 0 Where PriceFactorId Is NULL
go
Update TempItemMastersuper Set PriceFactorPer = 0 Where PriceFactorPer Is NULL
go
Update TempItemMastersuper Set PriceFactorAmt = 0 Where PriceFactorAmt Is NULL
go
Update TempItemMastersuper Set PriceFactorSQLQry = '' Where PriceFactorSQLQry Is NULL
go
Update TempItemMastersuper Set AddOnId = 0 Where AddOnId Is NULL
go
Update TempItemMastersuper Set AddOnPer = 0 Where AddOnPer Is NULL
go
Update TempItemMastersuper Set AddOnAmt = 0 Where AddOnAmt Is NULL
go
Update TempItemMastersuper Set AddOnSQLQry = '' Where AddOnSQLQry Is NULL
go
Update TempItemMastersuper Set DednId = 0 Where DednId Is NULL
go
Update TempItemMastersuper Set DednPer = 0 Where DednPer Is NULL
go
Update TempItemMastersuper Set DednAmt = 0 Where DednAmt Is NULL
go
Update TempItemMastersuper Set DednSQLQry = '' Where DednSQLQry Is NULL
go
Update TempItemMastersuper Set EDId = 0 Where EDId Is NULL
go
Update TempItemMastersuper Set EDPer = 0 Where EDPer Is NULL
go
Update TempItemMastersuper Set EDAmt = 0 Where EDAmt Is NULL
go
Update TempItemMastersuper Set EDSQLQry = '' Where EDSQLQry Is NULL
go
Update TempItemMastersuper Set FinalMRP = 0 Where FinalMRP Is NULL
go
Update TempItemMastersuper Set IsConsignmentItem = 0 Where IsConsignmentItem Is NULL
go
Update TempItemMastersuper Set FlgStockTake = 0 Where FlgStockTake Is NULL
go
Update TempItemMastersuper Set FlgRateAlterable = 0 Where FlgRateAlterable Is NULL
go
Update TempItemMastersuper Set FlgStockChkAppl = 0 Where FlgStockChkAppl Is NULL
go
Update TempItemMastersuper Set StockTolerance = 0 Where StockTolerance Is NULL
go
Update TempItemMastersuper Set Retail_Price = 0 Where Retail_Price Is NULL
go
Update TempItemMastersuper Set Dealer_Price = 0 Where Dealer_Price Is NULL
go
Update TempItemMastersuper Set JwlMakeCharge = 0 Where JwlMakeCharge Is NULL
go
Update TempItemMastersuper Set CurrentCost = 0 Where CurrentCost Is NULL
go
Update TempItemMastersuper Set LastPurchPrice = CurrentCost Where LastPurchPrice Is NULL OR LastPurchPrice =0 
go
Insert Into ItemMaster(StockNo,BatchSrlNo,Class1Cd,Class2Cd,SubClass1Cd,SubClass2Cd,SizeCd,LeastSalableQty,UseJwlPricing,Retail_Price,Dealer_Price,ProdTaxType,SrcTaxType,IsInventoryItem,IsRPTaxInclusive,ItemDesc,ExtDescPresent,RegularInd, ReordLvl,EOQ,MinOrdQty,LastPurchPrice,CurrentCost,JwlMetalInd,JwlCaratage,JwlGrossWt,JwlStoneWt,JwlWtFactor,JwlRateFactor,JwlStoneVal,JwlMakeCharge,JwlValFactor,AnalCode1,AnalCode2,AnalCode3,AnalCode4,AnalCode5,AnalCode6,AnalCode7,AnalCode8,AnalCode9,AnalCode10,AnalCode11,AnalCode12,AnalCode13,AnalCode14,AnalCode15,AnalCode16,AnalCode17,AnalCode18,AnalCode19,AnalCode20,AnalCode21,AnalCode22,AnalCode23,AnalCode24,AnalCode25,AnalCode26,AnalCode27,AnalCode28, AnalCode29,AnalCode30,AnalCode31,AnalCode32,MfgDate,ExpDate,ShelfLife,ImagePresent,IsBillable,IsService,RtlMarkUp,DlrMarkUp,VAUid,VActr,VATermId,VACompCode,CCStockNo,GradeCd,ImageID,SField1,SField2,SField3,SField4,SField5,NField1,NField2,NField3,NField4,NField5,DField1,DField2,DField3,BField1,BField2,MerchId,DiscId,DiscPer,DiscAmt,DiscSQLQry,PriceFactorId,PriceFactorPer,PriceFactorAmt,PriceFactorSQLQry,AddOnId,AddOnPer,AddOnAmt,AddOnSQLQry,DednId,DednPer,DednAmt,DednSQLQry,EDId,EDPer,EDAmt,EDSQLQry,FinalMRP,IsConsignmentItem,FlgStockTake,FlgRateAlterable,FlgStockChkAppl,StockTolerance , Dateinsert, Lastupdateddate,BatchApplicable,GradeApplicable,LocationApplicable) Select StockNo,BatchSrlNo,Class1Cd,Class2Cd,SubClass1Cd,SubClass2Cd,SizeCd,LeastSalableQty,UseJwlPricing,Retail_Price,Dealer_Price,ProdTaxType,SrcTaxType,IsInventoryItem,IsRPTaxInclusive,ItemDesc,ExtDescPresent,RegularInd, ReordLvl,EOQ,MinOrdQty,LastPurchPrice,CurrentCost,JwlMetalInd,JwlCaratage,JwlGrossWt,JwlStoneWt,JwlWtFactor,JwlRateFactor,JwlStoneVal,JwlMakeCharge,JwlValFactor,AnalCode1,AnalCode2,AnalCode3,AnalCode4,AnalCode5,AnalCode6,AnalCode7,AnalCode8,AnalCode9,AnalCode10,AnalCode11,AnalCode12,AnalCode13,AnalCode14,AnalCode15,AnalCode16,AnalCode17,AnalCode18,AnalCode19,AnalCode20,AnalCode21,AnalCode22,AnalCode23,AnalCode24,AnalCode25,AnalCode26,AnalCode27,AnalCode28, AnalCode29,AnalCode30,AnalCode31,AnalCode32,MfgDate,ExpDate,ShelfLife,ImagePresent,IsBillable,IsService,RtlMarkUp,DlrMarkUp,VAUid,VActr,VATermId,VACompCode,CCStockNo,GradeCd,ImageID,SField1,SField2,SField3,SField4,SField5,NField1,NField2,NField3,NField4,NField5,DField1,DField2,DField3,BField1,BField2,MerchId,DiscId,DiscPer,DiscAmt,DiscSQLQry,PriceFactorId,PriceFactorPer,PriceFactorAmt,PriceFactorSQLQry,AddOnId,AddOnPer,AddOnAmt,AddOnSQLQry,DednId,DednPer,DednAmt,DednSQLQry,EDId,EDPer,EDAmt,EDSQLQry,FinalMRP,IsConsignmentItem,FlgStockTake,FlgRateAlterable,FlgStockChkAppl,StockTolerance , Dateinsert, Lastupdateddate,BatchApplicable,GradeApplicable,LocationApplicable From TempItemMastersuper
go
 UPDATE TempItemMastersuper SET BATCHSRLNO = 99 FROM  TempItemMastersuper  B, GenLookup  A Where A.Code = B.Class1Cd And A.RecId = 1
go
 Insert Into GenLookup (RecId,Code,Descr,Flag,Number,VaUid,VaCtr,VATermId,VACompCode)  Select Distinct 1,Class1Cd,Class1Cd,'',0,'NEW##CODE',10426,'.','' From TempItemMastersuper B Where BatchSrlNo = 0
go
 UPDATE TempItemMastersuper SET BATCHSRLNO = 0
go
 UPDATE TempItemMastersuper SET BATCHSRLNO = 99 FROM  TempItemMastersuper  B, GenLookup  A Where A.Code = B.Class2Cd And A.RecId = 2
go
 Insert Into GenLookup (RecId,Code,Descr,Flag,Number,VaUid,VaCtr,VATermId,VACompCode)  Select Distinct 2,Class2Cd,Class2Cd,'',0,'NEW##CODE',10426,'.','' From TempItemMastersuper B Where BatchSrlNo = 0
go
 UPDATE TempItemMastersuper SET BATCHSRLNO = 0
go
 UPDATE TempItemMastersuper SET BATCHSRLNO = 99 FROM  TempItemMastersuper  B, GenLookup  A Where A.Code = B.AnalCode1 And A.RecId = 65
go
 Insert Into GenLookup (RecId,Code,Descr,Flag,Number,VaUid,VaCtr,VATermId,VACompCode)  Select Distinct 65,AnalCode1,AnalCode1,'',0,'NEW##CODE',10426,'.','' From TempItemMastersuper B Where BatchSrlNo = 0 And (AnalCode1 <>'' And  AnalCode1 Is Not NULL)
go
 UPDATE TempItemMastersuper SET BATCHSRLNO = 0
go
 UPDATE TempItemMastersuper SET BATCHSRLNO = 99 FROM  TempItemMastersuper  B, GenLookup  A Where A.Code = B.AnalCode2 And A.RecId = 66
go
 Insert Into GenLookup (RecId,Code,Descr,Flag,Number,VaUid,VaCtr,VATermId,VACompCode)  Select Distinct 66,AnalCode2,AnalCode2,'',0,'NEW##CODE',10426,'.','' From TempItemMastersuper B Where BatchSrlNo = 0 And (AnalCode2 <>'' And  AnalCode2 Is Not NULL)
go
 UPDATE TempItemMastersuper SET BATCHSRLNO = 0
go
 UPDATE TempItemMastersuper SET BATCHSRLNO = 99 FROM  TempItemMastersuper  B, GenLookup  A Where A.Code = B.AnalCode3 And A.RecId = 67
go
 Insert Into GenLookup (RecId,Code,Descr,Flag,Number,VaUid,VaCtr,VATermId,VACompCode)  Select Distinct 67,AnalCode3,AnalCode3,'',0,'NEW##CODE',10426,'.','' From TempItemMastersuper B Where BatchSrlNo = 0 And (AnalCode3 <>'' And  AnalCode3 Is Not NULL)
go
 UPDATE TempItemMastersuper SET BATCHSRLNO = 0
go
 UPDATE TempItemMastersuper SET BATCHSRLNO = 99 FROM  TempItemMastersuper  B, GenLookup  A Where A.Code = B.AnalCode4 And A.RecId = 68
go
 Insert Into GenLookup (RecId,Code,Descr,Flag,Number,VaUid,VaCtr,VATermId,VACompCode)  Select Distinct 68,AnalCode4,AnalCode4,'',0,'NEW##CODE',10426,'.','' From TempItemMastersuper B Where BatchSrlNo = 0 And (AnalCode4 <>'' And  AnalCode4 Is Not NULL)
go
 UPDATE TempItemMastersuper SET BATCHSRLNO = 0
go
 UPDATE TempItemMastersuper SET BATCHSRLNO = 99 FROM  TempItemMastersuper  B, GenLookup  A Where A.Code = B.AnalCode5 And A.RecId = 69
go
 Insert Into GenLookup (RecId,Code,Descr,Flag,Number,VaUid,VaCtr,VATermId,VACompCode)  Select Distinct 69,AnalCode5,AnalCode5,'',0,'NEW##CODE',10426,'.','' From TempItemMastersuper B Where BatchSrlNo = 0 And (AnalCode5 <>'' And  AnalCode5 Is Not NULL)
go
 UPDATE TempItemMastersuper SET BATCHSRLNO = 0
go
 UPDATE TempItemMastersuper SET BATCHSRLNO = 99 FROM  TempItemMastersuper  B, GenLookup  A Where A.Code = B.AnalCode6 And A.RecId = 7000
go
 Insert Into GenLookup (RecId,Code,Descr,Flag,Number,VaUid,VaCtr,VATermId,VACompCode)  Select Distinct 7000,AnalCode6,AnalCode6,'',0,'NEW##CODE',10426,'.','' From TempItemMastersuper B Where BatchSrlNo = 0 And (AnalCode6 <>'' And  AnalCode6 Is Not NULL)
go
 UPDATE TempItemMastersuper SET BATCHSRLNO = 0
go
 UPDATE TempItemMastersuper SET BATCHSRLNO = 99 FROM  TempItemMastersuper  B, GenLookup  A Where A.Code = B.AnalCode7 And A.RecId = 7001
go
 Insert Into GenLookup (RecId,Code,Descr,Flag,Number,VaUid,VaCtr,VATermId,VACompCode)  Select Distinct 7001,AnalCode7,AnalCode7,'',0,'NEW##CODE',10426,'.','' From TempItemMastersuper B Where BatchSrlNo = 0 And (AnalCode7 <>'' And  AnalCode7 Is Not NULL)
go
 UPDATE TempItemMastersuper SET BATCHSRLNO = 0
go
 UPDATE TempItemMastersuper SET BATCHSRLNO = 99 FROM  TempItemMastersuper  B, GenLookup  A Where A.Code = B.AnalCode8 And A.RecId = 7002
go
 Insert Into GenLookup (RecId,Code,Descr,Flag,Number,VaUid,VaCtr,VATermId,VACompCode)  Select Distinct 7002,AnalCode8,AnalCode8,'',0,'NEW##CODE',10426,'.','' From TempItemMastersuper B Where BatchSrlNo = 0 And (AnalCode8 <>'' And  AnalCode8 Is Not NULL)
go
 UPDATE TempItemMastersuper SET BATCHSRLNO = 0
go
 UPDATE TempItemMastersuper SET BATCHSRLNO = 99 FROM  TempItemMastersuper  B, GenLookup  A Where A.Code = B.AnalCode9 And A.RecId = 7003
go
 Insert Into GenLookup (RecId,Code,Descr,Flag,Number,VaUid,VaCtr,VATermId,VACompCode)  Select Distinct 7003,AnalCode9,AnalCode9,'',0,'NEW##CODE',10426,'.','' From TempItemMastersuper B Where BatchSrlNo = 0 And (AnalCode9 <>'' And  AnalCode9 Is Not NULL)
go
 UPDATE TempItemMastersuper SET BATCHSRLNO = 0
go
 UPDATE TempItemMastersuper SET BATCHSRLNO = 99 FROM  TempItemMastersuper  B, GenLookup  A Where A.Code = B.AnalCode10 And A.RecId = 7004
go
 Insert Into GenLookup (RecId,Code,Descr,Flag,Number,VaUid,VaCtr,VATermId,VACompCode)  Select Distinct 7004,AnalCode10,AnalCode10,'',0,'NEW##CODE',10426,'.','' From TempItemMastersuper B Where BatchSrlNo = 0 And (AnalCode10 <>'' And  AnalCode10 Is Not NULL)
go
 UPDATE TempItemMastersuper SET BATCHSRLNO = 0
go
 UPDATE TempItemMastersuper SET BATCHSRLNO = 99 FROM  TempItemMastersuper  B, GenLookup  A Where A.Code = B.AnalCode11 And A.RecId = 7005
go
 Insert Into GenLookup (RecId,Code,Descr,Flag,Number,VaUid,VaCtr,VATermId,VACompCode)  Select Distinct 7005,AnalCode11,AnalCode11,'',0,'NEW##CODE',10426,'.','' From TempItemMastersuper B Where BatchSrlNo = 0 And (AnalCode11 <>'' And  AnalCode11 Is Not NULL)
go
 UPDATE TempItemMastersuper SET BATCHSRLNO = 0
go
 UPDATE TempItemMastersuper SET BATCHSRLNO = 99 FROM  TempItemMastersuper  B, GenLookup  A Where A.Code = B.AnalCode12 And A.RecId = 7006
go
 Insert Into GenLookup (RecId,Code,Descr,Flag,Number,VaUid,VaCtr,VATermId,VACompCode)  Select Distinct 7006,AnalCode12,AnalCode12,'',0,'NEW##CODE',10426,'.','' From TempItemMastersuper B Where BatchSrlNo = 0 And (AnalCode12 <>'' And  AnalCode12 Is Not NULL)
go
 UPDATE TempItemMastersuper SET BATCHSRLNO = 0
go
 UPDATE TempItemMastersuper SET BATCHSRLNO = 99 FROM  TempItemMastersuper  B, GenLookup  A Where A.Code = B.AnalCode13 And A.RecId = 7007
go
 Insert Into GenLookup (RecId,Code,Descr,Flag,Number,VaUid,VaCtr,VATermId,VACompCode)  Select Distinct 7007,AnalCode13,AnalCode13,'',0,'NEW##CODE',10426,'.','' From TempItemMastersuper B Where BatchSrlNo = 0 And (AnalCode13 <>'' And  AnalCode13 Is Not NULL)
go
 UPDATE TempItemMastersuper SET BATCHSRLNO = 0
go
 UPDATE TempItemMastersuper SET BATCHSRLNO = 99 FROM  TempItemMastersuper  B, GenLookup  A Where A.Code = B.AnalCode14 And A.RecId = 7008
go
 Insert Into GenLookup (RecId,Code,Descr,Flag,Number,VaUid,VaCtr,VATermId,VACompCode)  Select Distinct 7008,AnalCode14,AnalCode14,'',0,'NEW##CODE',10426,'.','' From TempItemMastersuper B Where BatchSrlNo = 0 And (AnalCode14 <>'' And  AnalCode14 Is Not NULL)
go
 UPDATE TempItemMastersuper SET BATCHSRLNO = 0
go
 UPDATE TempItemMastersuper SET BATCHSRLNO = 99 FROM  TempItemMastersuper  B, GenLookup  A Where A.Code = B.AnalCode15 And A.RecId = 7009
go
 Insert Into GenLookup (RecId,Code,Descr,Flag,Number,VaUid,VaCtr,VATermId,VACompCode)  Select Distinct 7009,AnalCode15,AnalCode15,'',0,'NEW##CODE',10426,'.','' From TempItemMastersuper B Where BatchSrlNo = 0 And (AnalCode15 <>'' And  AnalCode15 Is Not NULL)
go
 UPDATE TempItemMastersuper SET BATCHSRLNO = 0
go
 UPDATE TempItemMastersuper SET BATCHSRLNO = 99 FROM  TempItemMastersuper  B, GenLookup  A Where A.Code = B.AnalCode16 And A.RecId = 7010
go
 Insert Into GenLookup (RecId,Code,Descr,Flag,Number,VaUid,VaCtr,VATermId,VACompCode)  Select Distinct 7010,AnalCode16,AnalCode16,'',0,'NEW##CODE',10426,'.','' From TempItemMastersuper B Where BatchSrlNo = 0 And (AnalCode16 <>'' And  AnalCode16 Is Not NULL)
go
 UPDATE TempItemMastersuper SET BATCHSRLNO = 0
go
 UPDATE TempItemMastersuper SET BATCHSRLNO = 99 FROM  TempItemMastersuper  B, GenLookup  A Where A.Code = B.AnalCode17 And A.RecId = 7011
go
 Insert Into GenLookup (RecId,Code,Descr,Flag,Number,VaUid,VaCtr,VATermId,VACompCode)  Select Distinct 7011,AnalCode17,AnalCode17,'',0,'NEW##CODE',10426,'.','' From TempItemMastersuper B Where BatchSrlNo = 0 And (AnalCode17 <>'' And  AnalCode17 Is Not NULL)
go
 UPDATE TempItemMastersuper SET BATCHSRLNO = 0
go
 UPDATE TempItemMastersuper SET BATCHSRLNO = 99 FROM  TempItemMastersuper  B, GenLookup  A Where A.Code = B.AnalCode18 And A.RecId = 7012
go
 Insert Into GenLookup (RecId,Code,Descr,Flag,Number,VaUid,VaCtr,VATermId,VACompCode)  Select Distinct 7012,AnalCode18,AnalCode18,'',0,'NEW##CODE',10426,'.','' From TempItemMastersuper B Where BatchSrlNo = 0 And (AnalCode18 <>'' And  AnalCode18 Is Not NULL)
go
 UPDATE TempItemMastersuper SET BATCHSRLNO = 0
go
 UPDATE TempItemMastersuper SET BATCHSRLNO = 99 FROM  TempItemMastersuper  B, GenLookup  A Where A.Code = B.AnalCode19 And A.RecId = 7013
go
 Insert Into GenLookup (RecId,Code,Descr,Flag,Number,VaUid,VaCtr,VATermId,VACompCode)  Select Distinct 7013,AnalCode19,AnalCode19,'',0,'NEW##CODE',10426,'.','' From TempItemMastersuper B Where BatchSrlNo = 0 And (AnalCode19 <>'' And  AnalCode19 Is Not NULL)
go
 UPDATE TempItemMastersuper SET BATCHSRLNO = 0
go
 UPDATE TempItemMastersuper SET BATCHSRLNO = 99 FROM  TempItemMastersuper  B, GenLookup  A Where A.Code = B.AnalCode20 And A.RecId = 7014
go
 Insert Into GenLookup (RecId,Code,Descr,Flag,Number,VaUid,VaCtr,VATermId,VACompCode)  Select Distinct 7014,AnalCode20,AnalCode20,'',0,'NEW##CODE',10426,'.','' From TempItemMastersuper B Where BatchSrlNo = 0 And (AnalCode20 <>'' And  AnalCode20 Is Not NULL)
go
 UPDATE TempItemMastersuper SET BATCHSRLNO = 0
go
 UPDATE TempItemMastersuper SET BATCHSRLNO = 99 FROM  TempItemMastersuper  B, GenLookup  A Where A.Code = B.AnalCode21 And A.RecId = 7015
go
 Insert Into GenLookup (RecId,Code,Descr,Flag,Number,VaUid,VaCtr,VATermId,VACompCode)  Select Distinct 7015,AnalCode21,AnalCode21,'',0,'NEW##CODE',10426,'.','' From TempItemMastersuper B Where BatchSrlNo = 0 And (AnalCode21 <>'' And  AnalCode21 Is Not NULL)
go
 UPDATE TempItemMastersuper SET BATCHSRLNO = 0
go
 UPDATE TempItemMastersuper SET BATCHSRLNO = 99 FROM  TempItemMastersuper  B, GenLookup  A Where A.Code = B.AnalCode22 And A.RecId = 7016
go
 Insert Into GenLookup (RecId,Code,Descr,Flag,Number,VaUid,VaCtr,VATermId,VACompCode)  Select Distinct 7016,AnalCode22,AnalCode22,'',0,'NEW##CODE',10426,'.','' From TempItemMastersuper B Where BatchSrlNo = 0 And (AnalCode22 <>'' And  AnalCode22 Is Not NULL)
go
 UPDATE TempItemMastersuper SET BATCHSRLNO = 0
go
 UPDATE TempItemMastersuper SET BATCHSRLNO = 99 FROM  TempItemMastersuper  B, GenLookup  A Where A.Code = B.AnalCode23 And A.RecId = 7017
go
 Insert Into GenLookup (RecId,Code,Descr,Flag,Number,VaUid,VaCtr,VATermId,VACompCode)  Select Distinct 7017,AnalCode23,AnalCode23,'',0,'NEW##CODE',10426,'.','' From TempItemMastersuper B Where BatchSrlNo = 0 And (AnalCode23 <>'' And  AnalCode23 Is Not NULL)
go
 UPDATE TempItemMastersuper SET BATCHSRLNO = 0
go
 UPDATE TempItemMastersuper SET BATCHSRLNO = 99 FROM  TempItemMastersuper  B, GenLookup  A Where A.Code = B.AnalCode24 And A.RecId = 7018
go
 Insert Into GenLookup (RecId,Code,Descr,Flag,Number,VaUid,VaCtr,VATermId,VACompCode)  Select Distinct 7018,AnalCode24,AnalCode24,'',0,'NEW##CODE',10426,'.','' From TempItemMastersuper B Where BatchSrlNo = 0 And (AnalCode24 <>'' And  AnalCode24 Is Not NULL)
go
 UPDATE TempItemMastersuper SET BATCHSRLNO = 0
go
 UPDATE TempItemMastersuper SET BATCHSRLNO = 99 FROM  TempItemMastersuper  B, GenLookup  A Where A.Code = B.AnalCode25 And A.RecId = 7019
go
 Insert Into GenLookup (RecId,Code,Descr,Flag,Number,VaUid,VaCtr,VATermId,VACompCode)  Select Distinct 7019,AnalCode25,AnalCode25,'',0,'NEW##CODE',10426,'.','' From TempItemMastersuper B Where BatchSrlNo = 0 And (AnalCode25 <>'' And  AnalCode25 Is Not NULL)
go
 UPDATE TempItemMastersuper SET BATCHSRLNO = 0
go
 UPDATE TempItemMastersuper SET BATCHSRLNO = 99 FROM  TempItemMastersuper  B, GenLookup  A Where A.Code = B.AnalCode26 And A.RecId = 7020
go
 Insert Into GenLookup (RecId,Code,Descr,Flag,Number,VaUid,VaCtr,VATermId,VACompCode)  Select Distinct 7020,AnalCode26,AnalCode26,'',0,'NEW##CODE',10426,'.','' From TempItemMastersuper B Where BatchSrlNo = 0 And (AnalCode26 <>'' And  AnalCode26 Is Not NULL)
go
 UPDATE TempItemMastersuper SET BATCHSRLNO = 0
go
 UPDATE TempItemMastersuper SET BATCHSRLNO = 99 FROM  TempItemMastersuper  B, GenLookup  A Where A.Code = B.AnalCode27 And A.RecId = 7021
go
 Insert Into GenLookup (RecId,Code,Descr,Flag,Number,VaUid,VaCtr,VATermId,VACompCode)  Select Distinct 7021,AnalCode27,AnalCode27,'',0,'NEW##CODE',10426,'.','' From TempItemMastersuper B Where BatchSrlNo = 0 And (AnalCode27 <>'' And  AnalCode27 Is Not NULL)
go
 UPDATE TempItemMastersuper SET BATCHSRLNO = 0
go
 UPDATE TempItemMastersuper SET BATCHSRLNO = 99 FROM  TempItemMastersuper  B, GenLookup  A Where A.Code = B.AnalCode28 And A.RecId = 7022
go
 Insert Into GenLookup (RecId,Code,Descr,Flag,Number,VaUid,VaCtr,VATermId,VACompCode)  Select Distinct 7022,AnalCode28,AnalCode28,'',0,'NEW##CODE',10426,'.','' From TempItemMastersuper B Where BatchSrlNo = 0 And (AnalCode28 <>'' And  AnalCode28 Is Not NULL)
go
 UPDATE TempItemMastersuper SET BATCHSRLNO = 0
go
 UPDATE TempItemMastersuper SET BATCHSRLNO = 99 FROM  TempItemMastersuper  B, GenLookup  A Where A.Code = B.AnalCode29 And A.RecId = 7023
go
 Insert Into GenLookup (RecId,Code,Descr,Flag,Number,VaUid,VaCtr,VATermId,VACompCode)  Select Distinct 7023,AnalCode29,AnalCode29,'',0,'NEW##CODE',10426,'.','' From TempItemMastersuper B Where BatchSrlNo = 0 And (AnalCode29 <>'' And  AnalCode29 Is Not NULL)
go
 UPDATE TempItemMastersuper SET BATCHSRLNO = 0
go
 UPDATE TempItemMastersuper SET BATCHSRLNO = 99 FROM  TempItemMastersuper  B, GenLookup  A Where A.Code = B.AnalCode30 And A.RecId = 7024
go
 Insert Into GenLookup (RecId,Code,Descr,Flag,Number,VaUid,VaCtr,VATermId,VACompCode)  Select Distinct 7024,AnalCode30,AnalCode30,'',0,'NEW##CODE',10426,'.','' From TempItemMastersuper B Where BatchSrlNo = 0 And (AnalCode30 <>'' And  AnalCode30 Is Not NULL)
go
 UPDATE TempItemMastersuper SET BATCHSRLNO = 0
go
 UPDATE TempItemMastersuper SET BATCHSRLNO = 99 FROM  TempItemMastersuper  B, GenLookup  A Where A.Code = B.AnalCode31 And A.RecId = 7025
go
 Insert Into GenLookup (RecId,Code,Descr,Flag,Number,VaUid,VaCtr,VATermId,VACompCode)  Select Distinct 7025,AnalCode31,AnalCode31,'',0,'NEW##CODE',10426,'.','' From TempItemMastersuper B Where BatchSrlNo = 0 And (AnalCode31 <>'' And  AnalCode31 Is Not NULL)
go
 UPDATE TempItemMastersuper SET BATCHSRLNO = 0
go
 UPDATE TempItemMastersuper SET BATCHSRLNO = 99 FROM  TempItemMastersuper  B, GenLookup  A Where A.Code = B.AnalCode32 And A.RecId = 7026
go
 Insert Into GenLookup (RecId,Code,Descr,Flag,Number,VaUid,VaCtr,VATermId,VACompCode)  Select Distinct 7026,AnalCode32,AnalCode32,'',0,'NEW##CODE',10426,'.','' From TempItemMastersuper B Where BatchSrlNo = 0 And (AnalCode32 <>'' And  AnalCode32 Is Not NULL)
go
 UPDATE TempItemMastersuper SET BATCHSRLNO = 0
go
Alter Table TempItemMastersuper Add Billable int,SizeGroup [varchar] (16) NULL ,RetailMarkUp Money ,DealerMarkUp money ,PrefVendorId [varchar] (16) NULL,AltVendorId1 [varchar] (16) NULL,AltVendorId2 [varchar] (16) NULL,AltVendorId3 [varchar] (16) NULL, SuperClass1 VarChar(16) Null,SuperClass2 VarChar(16) Null,IsServiceCombo Int
go
UPDATE TempItemMastersuper set Billable = a.Billable, SizeGroup = a.SizeGroup, RetailMarkUp=a.RetailMarkUp, DealerMarkUp= A.DealerMarkUp, PrefVendorId=A.PrefVendorId, AltVendorId1 = A.AltVendorId1, AltVendorId2=A.AltVendorId2, AltVendorId3 = A.AltVendorId3, ProdTaxType=A.ProdTaxType, SuperClass1 = A.SuperClass1, SuperClass2=A.SuperClass2, IsServiceCombo = A.IsServiceCombo, IsConsignmentItem=A.IsConsignmentItem, VAUid = A.VAUid, VActr=A.VActr, VATermId = A.VATermId,VACompCode=A.VACompCode, Dateinsert=A.Dateinsert, Lastupdateddate = A.Lastupdateddate  from CLASS12COMBO A,TempItemMastersuper B where A.Class1Cd = B.Class1Cd And  A.Class2Cd = B.Class2Cd 
go
 UPDATE TempItemMastersuper SET BATCHSRLNO = 99 FROM  TempItemMastersuper  A, CLASS12COMBO B Where A.Class1Cd = B.Class1Cd And A.Class2Cd = B.Class2Cd 
go
 Insert Into CLASS12COMBO (Class1Cd,Class2Cd,VaUid,VaCtr)  Select Distinct Class1Cd,Class2Cd,'NEW##CODE',10426 From TempItemMastersuper B Where BatchSrlNo = 0
go
UPDATE CLASS12COMBO set Billable = B.Billable, SizeGroup = B.SizeGroup, RetailMarkUp=B.RetailMarkUp, DealerMarkUp= B.DealerMarkUp, PrefVendorId=B.PrefVendorId, AltVendorId1 = B.AltVendorId1, AltVendorId2=B.AltVendorId2, AltVendorId3 = B.AltVendorId3, ProdTaxType=B.ProdTaxType, SuperClass1 = B.SuperClass1, SuperClass2=B.SuperClass2, IsServiceCombo = B.IsServiceCombo, IsConsignmentItem=B.IsConsignmentItem, VAUid = B.VAUid, VATermId = B.VATermId,VACompCode=B.VACompCode, Dateinsert=B.Dateinsert, Lastupdateddate = B.Lastupdateddate   from CLASS12COMBO a,TempItemMastersuper b   where A.Class1Cd = B.Class1Cd And A.Class2Cd = B.Class2Cd   and a.vauid = 'NEW##CODE'
go
 UPDATE TempItemMastersuper SET BATCHSRLNO = 0
go
 UPDATE TempItemMastersuper SET BATCHSRLNO = 99 FROM  TempItemMastersuper  A, SUBCLASS1CAT  B Where A.Class1Cd = B.Class1Cd And A.Class2Cd = B.Class2Cd And A.SUBCLASS1CD = B.SUBCLASS1CD
go
 Insert Into SUBCLASS1CAT (Class1Cd,Class2Cd,SubClass1Cd,SubClass1Desc,VaUid,VaCtr)  Select Distinct Class1Cd,Class2Cd,SubClass1Cd,SubClass1Cd,'NEW##CODE',10426 From TempItemMastersuper B Where BatchSrlNo = 0
go
 UPDATE SUBCLASS1CAT set ProdTaxType = b.ProdTaxType, RegularInd = b.RegularInd,  AnalCode1 = b.AnalCode1,AnalCode2 = b.AnalCode2,AnalCode3 = b.AnalCode3,AnalCode4 = b.AnalCode4, AnalCode5 = b.AnalCode5,ImageId = b.ImageId,VAUid = b.VAUid,VaCtr= b.VaCtr,VaTermId = b.VaTermId, VaCompCode = b.VaCompCode, AnalCode6 = b.AnalCode6,AnalCode7 = b.AnalCode7,AnalCode8 = b.AnalCode8, AnalCode9 = b.AnalCode9,AnalCode10 = b.AnalCode10,AnalCode11 = b.AnalCode11,AnalCode12 = b.AnalCode12, AnalCode13 = b.AnalCode13,AnalCode14 = b.AnalCode14,AnalCode15 = b.AnalCode15,AnalCode16 = b.AnalCode16, AnalCode17 = b.AnalCode17,AnalCode18 = b.AnalCode18,AnalCode19 = b.AnalCode19,AnalCode20 = b.AnalCode20, AnalCode21 = b.AnalCode21,AnalCode22 = b.AnalCode22,AnalCode23 = b.AnalCode23,AnalCode24 = b.AnalCode24, AnalCode25 = b.AnalCode25,AnalCode26 = b.AnalCode26,AnalCode27 = b.AnalCode27,AnalCode28 = b.AnalCode28, AnalCode29 = b.AnalCode29,AnalCode30 = b.AnalCode30,AnalCode31 = b.AnalCode31,AnalCode32 = b.AnalCode32, DateInsert = GetDate(),LastUpdatedDate = '2025-08-14' from SUBCLASS1CAT a, TempItemMastersuper b  where A.Class1Cd = B.Class1Cd And A.Class2Cd = B.Class2Cd And A.SubClass1Cd = B.SUBCLASS1CD and a.vauid = 'NEW##CODE'
go
 UPDATE SUBCLASS1CAT SET  AnalCode1 = A.AnalCode1, AnalCode2 = A.AnalCode2, AnalCode3 = A.AnalCode3, AnalCode4 = A.AnalCode4, AnalCode5 = A.AnalCode5, AnalCode6 = A.AnalCode6, AnalCode7 = A.AnalCode7, AnalCode8 = A.AnalCode8, AnalCode9 = A.AnalCode9, AnalCode10 = A.AnalCode10, AnalCode11 = A.AnalCode11, AnalCode12 = A.AnalCode12, AnalCode13 = A.AnalCode13, AnalCode14 = A.AnalCode14, AnalCode15 = A.AnalCode15, AnalCode16 = A.AnalCode16, AnalCode17 = A.AnalCode17, AnalCode18 = A.AnalCode18, AnalCode19 = A.AnalCode19, AnalCode20 = A.AnalCode20, AnalCode21 = A.AnalCode21, AnalCode22 = A.AnalCode22, AnalCode23 = A.AnalCode23, AnalCode24 = A.AnalCode24, AnalCode25 = A.AnalCode25, AnalCode26 = A.AnalCode26, AnalCode27 = A.AnalCode27, AnalCode28 = A.AnalCode28, AnalCode29 = A.AnalCode29, AnalCode30 = A.AnalCode30, AnalCode31 = A.AnalCode31, AnalCode32 = A.AnalCode32 FROM  TempItemMastersuper  A, SUBCLASS1CAT  B Where A.Class1Cd = B.Class1Cd And A.Class2Cd = B.Class2Cd And A.SUBCLASS1CD = B.SUBCLASS1CD
go
 UPDATE TempItemMastersuper SET BATCHSRLNO = 0
go
 UPDATE TempItemMastersuper SET BATCHSRLNO = 99 FROM  TempItemMastersuper  A, SUBCLASS2CAT  B Where A.Class1Cd = B.Class1Cd And A.Class2Cd = B.Class2Cd And A.SUBCLASS2CD = B.SUBCLASS2CD
go
 Insert Into SUBCLASS2CAT (Class1Cd,Class2Cd,SubClass2Cd,SubClass2Desc,VaUid,VaCtr)  Select Distinct Class1Cd,Class2Cd,SubClass2Cd,SubClass2Cd,'NEW##CODE',10426 From TempItemMastersuper B Where BatchSrlNo = 0
go
 UPDATE SUBCLASS2CAT set VAUid = b.VAUid,VaCtr= b.VaCtr,VaTermId = b.VaTermId, VaCompCode = b.VaCompCode,Dateinsert = GetDate(),Lastupdateddate = '2025-08-14' from SUBCLASS2CAT a, TempItemMastersuper  b where A.Class1Cd = B.Class1Cd And A.Class2Cd = B.Class2Cd And A.SubClass2Cd = B.SUBCLASS2CD and a.Vauid = 'NEW##CODE'
go
 UPDATE TempItemMastersuper SET BATCHSRLNO = 0
go
Alter Table TempItemMastersuper Add IsPivotalSize int,SizeGroupSrlNo int ,IdealStockRatioQty money ,ConvSizeCd [varchar] (16) NULL,ConvFactor money 
go
UPDATE TempItemMastersuper set IsPivotalSize = a.IsPivotalSize, SizeGroup = a.SizeGroupId, SizeGroupSrlNo=a.SizeGroupSrlNo, IdealStockRatioQty= A.IdealStockRatioQty, ConvSizeCd=A.ConvSizeCd, ConvFactor = A.ConvFactor from SIZECAT a,TempItemMastersuper b where A.Class1Cd = B.Class1Cd And A.Class2Cd = B.Class2Cd
go
 UPDATE TempItemMastersuper SET BATCHSRLNO = 99 FROM  TempItemMastersuper  A, SIZECAT  B Where A.Class1Cd = B.Class1Cd And A.Class2Cd = B.Class2Cd And A.SIZECD = B.SIZECD
go
 Insert Into SIZECAT (Class1Cd,Class2Cd,SizeCd,VaUid,VaCtr)  Select Distinct Class1Cd,Class2Cd,SizeCd,'NEW##CODE',10426 From TempItemMastersuper B Where BatchSrlNo = 0
go
UPDATE SIZECAT SET SIZEGROUPSRLNO = A.SLNO FROM  (SELECT MAX(A.SIZEGROUPSRLNO) +1 AS SLNO  FROM SIZECAT A, TempItemMastersuper B WHERE A.SIZEGROUPID = B.SIZEGROUP) A  WHERE VAUID = 'NEW##CODE'
go
UPDATE SIZECAT set IsPivotalSize = b.IsPivotalSize,SizeGroupId = b.SizeGroup,IdealStockRatioQty= b.IdealStockRatioQty,ConvSizeCd=b.ConvSizeCd,ConvFactor =b.ConvFactor,VaUid = b.VaUid,VaCtr = 10426, VaTermId = b.VaTermId, VaCompCode = b.VaCompCode   from SIZECAT a,TempItemMastersuper b   where A.Class1Cd = B.Class1Cd And A.Class2Cd = B.Class2Cd And A.SIZECD = B.SIZECD   and a.vauid = 'NEW##CODE'
go
 If Exists (Select * From SysObjects Where id = object_id(N'[dbo].[Tr_Ins_ItemMaster]')) Alter Table [ItemMaster] ENABLE Trigger [Tr_Ins_ItemMaster]
go
IF @@TRANCOUNT > 0 COMMIT TRAN
go
set implicit_transactions off SET NO_BROWSETABLE ON
go
select BoundToLookup, BoundToLookupID,FieldType from TempIMConfigsuper where FN = 'StockNo'
go
SET NO_BROWSETABLE OFF
go
Delete From TempItemMastersuper
go
SET NO_BROWSETABLE ON
go
select BoundToLookup, BoundToLookupID,FieldType from TempIMConfigsuper where FN = 'StockNo'
go
SET NO_BROWSETABLE OFF
go
Drop Table TmpStkTrnDtlssuper
go
