exec sp_reset_connection 
go
select * from SysParam
go
select * from SysParam
go
select * from SysParam
go
select * from SysParam
go
Select Descr,Flag from GenLookup Where RecId=14400 and Flag = 1  and Code Like 'SR535500+ShoperMenuClick+%'
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='VaSysCounter'
go
SET NO_BROWSETABLE OFF
go
Select Top 1 *  From PrefixMaster where Trntype in ('2100','1300','1600') 
go
Select * From PrefixTerminalGroups where TerminalGroupId = '<<AllNODE>>' And IsActive = 1
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='CommonPrefixusedAcrossAllterminals'
go
SET NO_BROWSETABLE OFF
go
Select * From tspsysdb9.dbo.VaNode  Where NodeId Not in (Select TerminalGroupId From PrefixTerminalGroups Where IsActive = 1)
go
Update PrefixMaster Set Prefix = '' Where Prefix is Null
go
Update PrefixMaster Set BasePrefix = '' Where BasePrefix is Null
go
Update PrefixConfig Set IsActive = Boolean From Sysparam Where Paramcode ='AllowCreditBilling' And TrnType in ('2100','1300','1600') And Opid in (3,4)
go
Update PrefixConfig Set IsActive = Boolean From Sysparam Where Paramcode ='AllowServiceBilling' And TrnType in ('2100','1300','1600') And Opid in (2)
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='CommonPrefixusedAcrossAllterminals'
go
SET NO_BROWSETABLE OFF
go
Update PrefixConfig Set TerminalWisePrefix = 1 Where TrnType in ('2100','1300','1600','<9999-1>')
go
Update PrefixConfig Set TerminalWisePrefix = 0 Where TrnType Not in ('2100','1300','1600','<9999-1>')
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='CommonPrefixusedAcrossAllterminals'
go
SET NO_BROWSETABLE OFF
go
Select Distinct TerminalGroupDescr From PrefixTerminalGroups  Where TerminalGroupId <> '<<AllNode>>' And IsActive = 1 Order By TerminalGroupDescr
go
Select Distinct Trntype,TrnName From PrefixConfig Where SubString(Trntype,1,1) = '<' Order by TrnName
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='YearendMonthNo'
go
select * from Sysparam where paramcode ='SHOPERSysDt'
go
select * from Sysparam where paramcode ='SHOPERSysDt'
go
SET NO_BROWSETABLE OFF
go
Select Top 1 TerminalWisePrefix From PrefixConfig Where TrnName = 'Cash Group'
go
Select Distinct TerminalGroupDescr From PrefixTerminalGroups  Where TerminalGroupId= '<<AllNode>>' and IsActive = 1
go
Select * From PrefixConfig Where TrnName = 'Cash Group' And IsActive = 1
go
Select * From PrefixTerminalGroups Where TerminalGroupDescr = '<<All Node>>' And IsActive = 1
go
Select * From PrefixConfig Where TrnName = 'Cash Group' And IsActive = 1
go
SELECT TRNTYPE,COUNT(*) AS CNT FROM PREFIXCONFIG WHERE PARENTTRNTYPE = '<9999-2>' And IsActive = 1 GROUP BY TRNTYPE
go
Select * From PrefixConfig a,PrefixMaster b Where ParentTrnType = '<9999-2>' and a.TrnType = b.TrnType and a.Opid= b.Opid And TerminalGroupId= '<<AllNODE>>' and a.ISACTIVE = 1 and b.ISACTIVE = 1  Order By a.TrnType,b.Prefix,b.BasePrefix,b.Suffix,a.OpId
go
Select DocNumber From PrefixTrnNo Where TrnType = '10020' And  ActualPrefix ='RC11'
go
Select DocNumber From PrefixTrnNo Where TrnType = '10022' And  ActualPrefix ='CLR11'
go
Select DocNumber From PrefixTrnNo Where TrnType = '13' And  ActualPrefix ='CR26'
go
Select DocNumber From PrefixTrnNo Where TrnType = '23' And  ActualPrefix ='CP26'
go
Select * From PrefixConfig Where ParentTrnType = '<9999-2>' And IsActive = 1 and TrnType +':'+Opid Not In (Select TrnType+':'+OpId From PrefixMaster Where TerminalGroupId ='<<AllNODE>>' and IsActive = 1) Order By OpId Asc,Trntype Desc
go
Select Top 1 * From PrefixConfig Where ParentTrnType = '<9999-2>' And IsActive = 1
go
Select Top 1 TerminalWisePrefix From PrefixConfig Where TrnName = 'Sales Group'
go
Select Distinct TerminalGroupDescr From PrefixTerminalGroups  Where TerminalGroupId <> '<<AllNode>>' and IsActive = 1
go
Select * From PrefixConfig Where TrnName = 'Sales Group' And IsActive = 1
go
Select * From PrefixTerminalGroups Where TerminalGroupDescr = 'Terminal001' And IsActive = 1
go
Select * From PrefixConfig Where TrnName = 'Sales Group' And IsActive = 1
go
SELECT TRNTYPE,COUNT(*) AS CNT FROM PREFIXCONFIG WHERE PARENTTRNTYPE = '<9999-1>' And IsActive = 1 GROUP BY TRNTYPE
go
Select * From PrefixConfig a,PrefixMaster b Where ParentTrnType = '<9999-1>' and a.TrnType = b.TrnType and a.Opid= b.Opid And TerminalGroupId= '001' and a.ISACTIVE = 1 and b.ISACTIVE = 1  Order By a.OpId,a.TrnType,b.Prefix,b.BasePrefix,b.Suffix
go
Select * From PrefixConfig Where ParentTrnType = '<9999-1>' And IsActive = 1  Order By Opid ASC,Trntype DESC
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='AllowServiceBilling'
go
select * from Sysparam where paramcode ='AllowCreditBilling'
go
select * from Sysparam where paramcode ='AllowServiceBilling'
go
select * from Sysparam where paramcode ='AllowCreditBilling'
go
select * from Sysparam where paramcode ='AllowServiceBilling'
go
select * from Sysparam where paramcode ='AllowCreditBilling'
go
SET NO_BROWSETABLE OFF
go
Select Isnull(Max(DocNo),0) as LastNo From StktrnHdr Where Trntype = '1300' And DocNoPrefix = 'R10R26'
go
Select Isnull(Max(DocNo),0) as LastNo From StktrnHdr Where Trntype = '1300' And DocNoPrefix = 'R10R26'
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='VaSysCounter'
go
SET NO_BROWSETABLE OFF
go
Select * From PrefixTerminalGroups Where TerminalGroupDescr = 'Terminal001' And IsActive = 1
go
Select * From PrefixMaster Where Trntype ='2100' And OPid ='1' And TerminalGroupId = '001' And BasePrefix ='S' And Prefix = 'R10' And Suffix = '26'
go
SET NO_BROWSETABLE ON
go
Select Isnull(Max(Srlno),0) As LastNo From PrefixMaster Where Trntype ='2100' And OPid ='1' And TerminalGroupId = '001'
go
SET NO_BROWSETABLE ON
go
select * from PrefixMaster
go
Select Isnull(Max(Srlno),0) As LastNo From PrefixMaster Where Trntype ='11' And OPid ='1' And TerminalGroupId = '001'
go
SET NO_BROWSETABLE ON
go
select * from PrefixMaster
go
Select * From PrefixTrnNo Where TrnType ='2100' And ActualPrefix = 'R10S26'
go
Select * From PrefixTrnNo Where TrnType ='11' And ActualPrefix = 'R10S26'
go
SET NO_BROWSETABLE OFF
go
Select * From PrefixMaster Where Trntype ='1600' And OPid ='1' And TerminalGroupId = '001' And BasePrefix ='V' And Prefix = 'R10' And Suffix = '26'
go
SET NO_BROWSETABLE ON
go
Select Isnull(Max(Srlno),0) As LastNo From PrefixMaster Where Trntype ='1600' And OPid ='1' And TerminalGroupId = '001'
go
SET NO_BROWSETABLE ON
go
select * from PrefixMaster
go
Select Isnull(Max(Srlno),0) As LastNo From PrefixMaster Where Trntype ='24' And OPid ='1' And TerminalGroupId = '001'
go
SET NO_BROWSETABLE ON
go
select * from PrefixMaster
go
Select * From PrefixTrnNo Where TrnType ='1600' And ActualPrefix = 'R10V26'
go
Select * From PrefixTrnNo Where TrnType ='24' And ActualPrefix = 'R10V26'
go
SET NO_BROWSETABLE OFF
go
Select * From PrefixMaster Where Trntype ='1300' And OPid ='1' And TerminalGroupId = '001' And BasePrefix ='R' And Prefix = 'R10' And Suffix = '26'
go
SET NO_BROWSETABLE ON
go
Select Isnull(Max(Srlno),0) As LastNo From PrefixMaster Where Trntype ='1300' And OPid ='1' And TerminalGroupId = '001'
go
SET NO_BROWSETABLE ON
go
select * from PrefixMaster
go
Select * From PrefixTrnNo Where TrnType ='1300' And ActualPrefix = 'R10R26'
go
SET NO_BROWSETABLE OFF
go
Update PrefixConfig Set SamePrefixforSubTran = 0,Vactr = 1,Vauid = 'super' Where TrnType = '1300'
go
Select Top 1 TerminalWisePrefix From PrefixConfig Where TrnName = ''
go
Select Distinct TerminalGroupDescr From PrefixTerminalGroups  Where TerminalGroupId= '<<AllNode>>' and IsActive = 1
go
Select * From PrefixConfig Where TrnName = '' And IsActive = 1
go
select * from SysParam
go
select * from SysParam
go
select * from SysParam
go
select * from SysParam
go
SELECT * FROM GenLookup WHERE RecID = 299 AND Code = 'VER72'
go
Create table ##additionalHOFiles(SrlNo varchar(1))
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='VaSysCounter'
go
Select Descr,Flag from GenLookup Where RecId=14400 and Flag = 1  and Code Like 'SR535500+ShoperLoginOkClick+%'
go
if NOT exists (select * from sysobjects where id = object_id(N'[dbo].[EventExtnKeyValueConfig]') and OBJECTPROPERTY(id, N'IsUserTable') = 1) Create Table EventExtnKeyValueConfig( ProgramId Varchar(64),EventId Varchar(64),SrlNo Int, EventKeyValue Varchar(64),DLLName Varchar(128), VaUid Varchar(32),VaCtr Int, VaTermId Varchar(32),VaCompCode Varchar(16), CONSTRAINT [PK_EventExtnKeyValueConfig] PRIMARY KEY CLUSTERED(ProgramId,EventId,SrlNo,EventKeyValue) ON [PRIMARY])
go
Select * From EventExtnKeyValueConfig Where ProgramId = 'SR535500' and EventId = 'ShoperLoginOkClick'
go
Select Descr,Flag from GenLookup Where RecId=14400 and Flag = 1 and  Code Like 'SR535500+ShoperLoginOkClick+%'
go
Select * from GenLookUp Where Recid in (13000,16000,14500,14400) and code <>'resynch'
go
select * from SysParam
go
select * from SysParam
go
select * from SysParam
go
select * from SysParam
go
select * from SysParam
go
select * from SysParam
go
select * from SysParam
go
select * from SysParam
go
select * from SysParam
go
Select Descr,Flag from GenLookup Where RecId=14400 and Flag = 1  and Code Like 'SR535500+ShoperMenuClick+%'
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='SHOPERSysDt'
go
SET NO_BROWSETABLE OFF
go
Drop Table TempSysparamsuper
go
DROP Table tmpSysParamsuper
go
SELECT SysParam.Id, SysParam.Descr, SysParam.ParamCode, SysParam.Boolean,SysParam.Intg, SysParam.Txt, SysParam.Dt, SysParam.Sng, SysParam.Cur,SysParam.Opt, SysParamExtd.Fixed, SysParamExtd.Changed, SysParamExtd.Category, SysParamExtd.CatDescr,SysParamExtd.DispOrder INTO tmpSysParamsuper FROM  SysParamExtd INNER JOIN SysParam ON SysParamExtd.Id = SysParam.Id WHERE SysParamExtd.Fixed<>'Hidden' ORDER BY SysParamExtd.Category Asc,SysParamExtd.Fixed DESC,SysParamExtd.DispOrder ASC
go
SET NO_BROWSETABLE ON
go
SELECT * FROM tmpSysParamsuper ORDER BY category,DispOrder
go
SET NO_BROWSETABLE OFF
go
SELECT Distinct Category FROM tmpSysParamsuper Order By Category ASC
go
Select * from SysParamLookUp
go
select * from SysParam
go
select * from SysParam
go
select * from SysParam
go
select * from SysParam
go
Select Descr,Flag from GenLookup Where RecId=14400 and Flag = 1  and Code Like 'SR535500+ShoperMenuClick+%'
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='SHOPERSysDt'
go
select * from Sysparam where paramcode ='SHOPERSysStat'
go
select * from Sysparam where paramcode ='VaSysCounter'
go
select * from Sysparam where paramcode ='GradeApplicableForStkNo'
go
select * from Sysparam where paramcode ='SuperClass1Present'
go
select * from Sysparam where paramcode ='SuperClass2Present'
go
select * from Sysparam where paramcode ='AddlColsExistForGenPriceRev'
go
select * from Sysparam where paramcode ='InFilesPath'
go
select * from Sysparam where paramcode ='ActivateSalesPromosToNewItems'
go
select * from Sysparam where paramcode ='EnableLastSyncDataView'
go
SET NO_BROWSETABLE OFF
go
select 0 As ItemFlag,* into [##TmpClass12Combo] from [Class12combo] Where 1=0
go
select 0 As ItemFlag,* into [##TmpSubclass1Cat] from [Subclass1cat] Where 1=0
go
select 0 As ItemFlag,* into [##TmpSubclass2Cat] from [Subclass2cat] Where 1=0
go
select 0 As ItemFlag,* into [##TmpSizeCat] from [Sizecat] Where 1=0
go
 Select RecId, Code, Descr, [Number],Flag Into [##TmpItemNullCheck] From GenLookUp  Where RecId = 8400 and [Number] = 0 and Flag = 'Y'
go
 Select * From PosActivityLogHdr Where Status = 'Loaded' And File_Name = 'SHFM02_WH1_R10_000001.Txt' 
go
Select [Number] From GenLookUp Where RecId=101 And Code='SHFM02WH1'
go
 Insert into GenLookUp(Recid,Code,Descr,Flag,Number,VaUid, VaCtr, VaTermId, VaCompCode)  Values(101,'SHFM02WH1','PriceMasterImport Last Loaded File Number ',0,0,'super',1,'.','R10')
go
Truncate Table [##TmpClass12Combo]
go
Truncate Table [##TmpSubclass1Cat]
go
Truncate Table [##TmpSubclass2Cat]
go
Truncate Table [##TmpSizeCat]
go
Truncate Table [##TmpItemNullCheck]
go
 If Exists (Select * From TempDb.dbo.SysObjects Where Name = '##TmpItem') drop table TempDb.dbo.[##TmpItem]
go
select substring('NY',status/1024&1+1,1) from master..sysdatabases where name=DB_NAME()
go
SELECT Config, nValue FROM MSysConf
go
CREATE TABLE "##TmpItem"("ItemFlag" int,"Stockno" varchar(255),"Class1Cd" varchar(255),"Class2Cd" varchar(255),"Class1DESC" varchar(255),"Class2DESC" varchar(255),"SUBClass1Cd" varchar(255),"SUBClass2Cd" varchar(255),"SUBCLASS1DESC" varchar(255),"SUBCLASS2DESC" varchar(255),"SIZECD" varchar(255),"RETAIL_PRICE" varchar(255),"CURRENTCOST" varchar(255),"ITEMDESC" varchar(255),"PRODTAXTYPE" varchar(255),"PRODTAXDESC" varchar(255),"SIZEGROUPID" varchar(255),"SIZEGROUPDESC" varchar(255),"SIZEGROUPSRLNO" varchar(255),"ANALCODE1" varchar(255),"ANALdesc1" varchar(255),"ANALCODE2" varchar(255),"ANALdesc2" varchar(255),"ANALCODE3" varchar(255),"ANALdesc3" varchar(255),"ANALCODE4" varchar(255),"ANALdesc4" varchar(255),"ANALCODE5" varchar(255),"ANALdesc5" varchar(255),"VENDORCODE" varchar(255),"SUPERCLASS1" varchar(255),"SUPERCLASS2" varchar(255),"SUPERCLASS1DESC" varchar(255),"SUPERCLASS2DESC" varchar(255),"LeastSalableQty" varchar(255),"Dealer_Price" varchar(255),"LASTPURCHPRICE" varchar(255),"ISRPTAXINCLUSIVE" varchar(255),"REGULARIND" varchar(255),"GRADECD" varchar(255),"BatchSrlNo" varchar(255),"IsInventoryItem" varchar(255),"ImagePresent" varchar(255),"SrcTaxType" varchar(255),"ExtDescPresent" varchar(255),"ReordLvl" varchar(255),"EOQ" varchar(255),"MinOrdQty" varchar(255),"IsBillable" varchar(255),"IsService" varchar(255),"RtlMarkUp" varchar(255),"DlrMarkUp" varchar(255),"MfgDate" varchar(255),"ExpDate" varchar(255),"ShelfLife" varchar(255),"CCStockNo" varchar(255),"FinalMRP" varchar(255),"IsConsignmentItem" varchar(255),"ANALCODE6" varchar(255),"ANALDESC6" varchar(255),"ANALCODE7" varchar(255),"ANALDESC7" varchar(255),"ANALCODE8" varchar(255),"ANALDESC8" varchar(255),"ANALCODE9" varchar(255),"ANALDESC9" varchar(255),"ANALCODE10" varchar(255),"ANALDESC10" varchar(255),"ANALCODE11" varchar(255),"ANALDESC11" varchar(255),"ANALCODE12" varchar(255),"ANALDESC12" varchar(255),"ANALCODE13" varchar(255),"ANALDESC13" varchar(255),"ANALCODE14" varchar(255),"ANALDESC14" varchar(255),"ANALCODE15" varchar(255),"ANALDESC15" varchar(255),"ANALCODE16" varchar(255),"ANALDESC16" varchar(255),"ANALCODE17" varchar(255),"ANALDESC17" varchar(255),"ANALCODE18" varchar(255),"ANALDESC18" varchar(255),"ANALCODE19" varchar(255),"ANALDESC19" varchar(255),"ANALCODE20" varchar(255),"ANALDESC20" varchar(255),"ANALCODE21" varchar(255),"ANALDESC21" varchar(255),"ANALCODE22" varchar(255),"ANALDESC22" varchar(255),"ANALCODE23" varchar(255),"ANALDESC23" varchar(255),"ANALCODE24" varchar(255),"ANALDESC24" varchar(255),"ANALCODE25" varchar(255),"ANALDESC25" varchar(255),"ANALCODE26" varchar(255),"ANALDESC26" varchar(255),"ANALCODE27" varchar(255),"ANALDESC27" varchar(255),"ANALCODE28" varchar(255),"ANALDESC28" varchar(255),"ANALCODE29" varchar(255),"ANALDESC29" varchar(255),"ANALCODE30" varchar(255),"ANALDESC30" varchar(255),"ANALCODE31" varchar(255),"ANALDESC31" varchar(255),"ANALCODE32" varchar(255),"ANALDESC32" varchar(255),"FileName" varchar(255),"Version" varchar(255))
go
set implicit_transactions on 
go
IF @@TRANCOUNT > 0 COMMIT TRAN
go
set implicit_transactions off 
go
 SELECT COL_LENGTH('TempDb.Dbo.[##TmpItem]','BatchSrlNo')AS 'Found'
go
Update [##TmpItem] Set BatchSrlNo=0
go
Select 1 from [##TmpItem] where stockno is not null group by StockNo having COUNT(*)>1 
go
Select * from tempdb.dbo.[##TmpItem] Where 1=2
go
Update [##TmpItem] Set ItemFlag = ItemFlag 
go
Select Top 1 * From [##TmpItem] Where FileName = 'SHFM02_WH1_R10_000001.Txt'
go
Select top 1 * from [##TmpItem] where StockNo is null
go
 SELECT COL_LENGTH('TempDb.Dbo.[##TmpItem]','LastPurchPrice')AS 'Found'
go
SELECT StockNo,Retail_Price,Dealer_Price,CurrentCost  ,LastPurchPrice  From [##TmpItem] Where Convert(Money,Retail_Price) <0 or Convert(Money,Dealer_Price) <0 or Convert(Money,CurrentCost)<0  or Convert(Money,LastPurchPrice)<0
go
Select top 1 Descr from genlookup where Recid=18060 and  Code='WH1'
go
Select 1 from genlookup where Recid=18060 and  Descr like '#%'
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='ValidateDataDuringPMImport'
go
SET NO_BROWSETABLE OFF
go
Insert Into [##TmpItemNullCheck](RecId, Code, Descr, [Number],Flag) Select RecId, Code, Descr, [Number],Flag From GenLookUp Where RecId = 8400
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='SuperClass1Present'
go
SET NO_BROWSETABLE OFF
go
Update [##TmpItemNullCheck] Set Flag = 'Y' Where Code = 'SuperClass1'
go
Insert Into [##TmpItemNullCheck](RecId, Code, Descr, [Number],Flag) Values(8400,'SuperClass1','NA',0,'Y')
go
Update [##TmpItemNullCheck] Set Flag = 'Y' Where Code = 'SuperClass1Desc'
go
Insert Into [##TmpItemNullCheck](RecId, Code, Descr, [Number],Flag) Values(8400,'SuperClass1Desc','NA',0,'Y')
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='SuperClass2Present'
go
SET NO_BROWSETABLE OFF
go
Update [##TmpItemNullCheck] Set Flag = 'Y' Where Code = 'SuperClass2'
go
Insert Into [##TmpItemNullCheck](RecId, Code, Descr, [Number],Flag) Values(8400,'SuperClass2','NA',0,'Y')
go
Update [##TmpItemNullCheck] Set Flag = 'Y' Where Code = 'SuperClass2Desc'
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='ItemSubClass1Present'
go
SET NO_BROWSETABLE OFF
go
Update [##TmpItemNullCheck] Set Flag = 'Y' Where Code = 'SubClass1Cd'
go
Update [##TmpItemNullCheck] Set Flag = 'Y' Where Code = 'SubClass1Desc'
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='ItemSubClass2Present'
go
SET NO_BROWSETABLE OFF
go
Update [##TmpItemNullCheck] Set Flag = 'Y' Where Code = 'SubClass2Cd'
go
Update [##TmpItemNullCheck] Set Flag = 'Y' Where Code = 'SubClass2Desc'
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='ItemSizePresent'
go
SET NO_BROWSETABLE OFF
go
Update [##TmpItemNullCheck] Set Flag = 'Y' Where Code = 'SizeCd'
go
Update [##TmpItemNullCheck] Set Flag = 'Y' Where Code = 'SizeGroupId'
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='ItemAnaCd1Present'
go
SET NO_BROWSETABLE OFF
go
Update [##TmpItemNullCheck] Set Flag = 'Y' Where Code = 'AnalCode1'
go
Update [##TmpItemNullCheck] Set Flag = 'Y' Where Code = 'AnalDesc1'
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='ItemAnaCd2Present'
go
SET NO_BROWSETABLE OFF
go
Update [##TmpItemNullCheck] Set Flag = 'Y' Where Code = 'AnalCode2'
go
Update [##TmpItemNullCheck] Set Flag = 'Y' Where Code = 'AnalDesc2'
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='ItemAnaCd3Present'
go
SET NO_BROWSETABLE OFF
go
Update [##TmpItemNullCheck] Set Flag = 'Y' Where Code = 'AnalCode3'
go
Update [##TmpItemNullCheck] Set Flag = 'Y' Where Code = 'AnalDesc3'
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='ItemAnaCd4Present'
go
SET NO_BROWSETABLE OFF
go
Update [##TmpItemNullCheck] Set Flag = 'Y' Where Code = 'AnalCode4'
go
Update [##TmpItemNullCheck] Set Flag = 'Y' Where Code = 'AnalDesc4'
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='ItemAnaCd5Present'
go
SET NO_BROWSETABLE OFF
go
Update [##TmpItemNullCheck] Set Flag = 'Y' Where Code = 'AnalCode5'
go
Update [##TmpItemNullCheck] Set Flag = 'Y' Where Code = 'AnalDesc5'
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='ItemAnaCd6Present'
go
SET NO_BROWSETABLE OFF
go
Update [##TmpItemNullCheck] Set Flag = 'N' Where Code = 'AnalCode6'
go
Update [##TmpItemNullCheck] Set Flag = 'N' Where Code = 'AnalDesc6'
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='ItemAnaCd7Present'
go
SET NO_BROWSETABLE OFF
go
Update [##TmpItemNullCheck] Set Flag = 'N' Where Code = 'AnalCode7'
go
Update [##TmpItemNullCheck] Set Flag = 'N' Where Code = 'AnalDesc7'
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='ItemAnaCd8Present'
go
SET NO_BROWSETABLE OFF
go
Update [##TmpItemNullCheck] Set Flag = 'N' Where Code = 'AnalCode8'
go
Update [##TmpItemNullCheck] Set Flag = 'N' Where Code = 'AnalDesc8'
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='ItemAnaCd9Present'
go
SET NO_BROWSETABLE OFF
go
Update [##TmpItemNullCheck] Set Flag = 'N' Where Code = 'AnalCode9'
go
Update [##TmpItemNullCheck] Set Flag = 'N' Where Code = 'AnalDesc9'
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='ItemAnaCd10Present'
go
SET NO_BROWSETABLE OFF
go
Update [##TmpItemNullCheck] Set Flag = 'N' Where Code = 'AnalCode10'
go
Update [##TmpItemNullCheck] Set Flag = 'N' Where Code = 'AnalDesc10'
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='ItemAnaCd11Present'
go
SET NO_BROWSETABLE OFF
go
Update [##TmpItemNullCheck] Set Flag = 'N' Where Code = 'AnalCode11'
go
Update [##TmpItemNullCheck] Set Flag = 'N' Where Code = 'AnalDesc11'
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='ItemAnaCd12Present'
go
SET NO_BROWSETABLE OFF
go
Update [##TmpItemNullCheck] Set Flag = 'N' Where Code = 'AnalCode12'
go
Update [##TmpItemNullCheck] Set Flag = 'N' Where Code = 'AnalDesc12'
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='ItemAnaCd13Present'
go
SET NO_BROWSETABLE OFF
go
Update [##TmpItemNullCheck] Set Flag = 'N' Where Code = 'AnalCode13'
go
Update [##TmpItemNullCheck] Set Flag = 'N' Where Code = 'AnalDesc13'
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='ItemAnaCd14Present'
go
SET NO_BROWSETABLE OFF
go
Update [##TmpItemNullCheck] Set Flag = 'N' Where Code = 'AnalCode14'
go
Update [##TmpItemNullCheck] Set Flag = 'N' Where Code = 'AnalDesc14'
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='ItemAnaCd15Present'
go
SET NO_BROWSETABLE OFF
go
Update [##TmpItemNullCheck] Set Flag = 'N' Where Code = 'AnalCode15'
go
Update [##TmpItemNullCheck] Set Flag = 'N' Where Code = 'AnalDesc15'
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='ItemAnaCd16Present'
go
SET NO_BROWSETABLE OFF
go
Update [##TmpItemNullCheck] Set Flag = 'N' Where Code = 'AnalCode16'
go
Update [##TmpItemNullCheck] Set Flag = 'N' Where Code = 'AnalDesc16'
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='ItemAnaCd17Present'
go
SET NO_BROWSETABLE OFF
go
Update [##TmpItemNullCheck] Set Flag = 'N' Where Code = 'AnalCode17'
go
Update [##TmpItemNullCheck] Set Flag = 'N' Where Code = 'AnalDesc17'
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='ItemAnaCd18Present'
go
SET NO_BROWSETABLE OFF
go
Update [##TmpItemNullCheck] Set Flag = 'N' Where Code = 'AnalCode18'
go
Update [##TmpItemNullCheck] Set Flag = 'N' Where Code = 'AnalDesc18'
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='ItemAnaCd19Present'
go
SET NO_BROWSETABLE OFF
go
Update [##TmpItemNullCheck] Set Flag = 'N' Where Code = 'AnalCode19'
go
Update [##TmpItemNullCheck] Set Flag = 'N' Where Code = 'AnalDesc19'
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='ItemAnaCd20Present'
go
SET NO_BROWSETABLE OFF
go
Update [##TmpItemNullCheck] Set Flag = 'N' Where Code = 'AnalCode20'
go
Update [##TmpItemNullCheck] Set Flag = 'N' Where Code = 'AnalDesc20'
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='ItemAnaCd21Present'
go
SET NO_BROWSETABLE OFF
go
Update [##TmpItemNullCheck] Set Flag = 'N' Where Code = 'AnalCode21'
go
Update [##TmpItemNullCheck] Set Flag = 'N' Where Code = 'AnalDesc21'
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='ItemAnaCd22Present'
go
SET NO_BROWSETABLE OFF
go
Update [##TmpItemNullCheck] Set Flag = 'N' Where Code = 'AnalCode22'
go
Update [##TmpItemNullCheck] Set Flag = 'N' Where Code = 'AnalDesc22'
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='ItemAnaCd23Present'
go
SET NO_BROWSETABLE OFF
go
Update [##TmpItemNullCheck] Set Flag = 'N' Where Code = 'AnalCode23'
go
Update [##TmpItemNullCheck] Set Flag = 'N' Where Code = 'AnalDesc23'
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='ItemAnaCd24Present'
go
SET NO_BROWSETABLE OFF
go
Update [##TmpItemNullCheck] Set Flag = 'N' Where Code = 'AnalCode24'
go
Update [##TmpItemNullCheck] Set Flag = 'N' Where Code = 'AnalDesc24'
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='ItemAnaCd25Present'
go
SET NO_BROWSETABLE OFF
go
Update [##TmpItemNullCheck] Set Flag = 'N' Where Code = 'AnalCode25'
go
Update [##TmpItemNullCheck] Set Flag = 'N' Where Code = 'AnalDesc25'
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='ItemAnaCd26Present'
go
SET NO_BROWSETABLE OFF
go
Update [##TmpItemNullCheck] Set Flag = 'N' Where Code = 'AnalCode26'
go
Update [##TmpItemNullCheck] Set Flag = 'N' Where Code = 'AnalDesc26'
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='ItemAnaCd27Present'
go
SET NO_BROWSETABLE OFF
go
Update [##TmpItemNullCheck] Set Flag = 'N' Where Code = 'AnalCode27'
go
Update [##TmpItemNullCheck] Set Flag = 'N' Where Code = 'AnalDesc27'
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='ItemAnaCd28Present'
go
SET NO_BROWSETABLE OFF
go
Update [##TmpItemNullCheck] Set Flag = 'N' Where Code = 'AnalCode28'
go
Update [##TmpItemNullCheck] Set Flag = 'N' Where Code = 'AnalDesc28'
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='ItemAnaCd29Present'
go
SET NO_BROWSETABLE OFF
go
Update [##TmpItemNullCheck] Set Flag = 'N' Where Code = 'AnalCode29'
go
Update [##TmpItemNullCheck] Set Flag = 'N' Where Code = 'AnalDesc29'
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='ItemAnaCd30Present'
go
SET NO_BROWSETABLE OFF
go
Update [##TmpItemNullCheck] Set Flag = 'N' Where Code = 'AnalCode30'
go
Update [##TmpItemNullCheck] Set Flag = 'N' Where Code = 'AnalDesc30'
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='ItemAnaCd31Present'
go
SET NO_BROWSETABLE OFF
go
Update [##TmpItemNullCheck] Set Flag = 'N' Where Code = 'AnalCode31'
go
Update [##TmpItemNullCheck] Set Flag = 'N' Where Code = 'AnalDesc31'
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='ItemAnaCd32Present'
go
SET NO_BROWSETABLE OFF
go
Update [##TmpItemNullCheck] Set Flag = 'Y' Where Code = 'AnalCode32'
go
Update [##TmpItemNullCheck] Set Flag = 'Y' Where Code = 'AnalDesc32'
go
Select * From [##TmpItemNullCheck] Where Number = 0 and Flag = 'Y'
go
 SELECT COL_LENGTH('TempDb.Dbo.[##TmpItem]','SuperClass1')AS 'Found'
go
 SELECT COL_LENGTH('TempDb.Dbo.[##TmpItem]','SuperClass1Desc')AS 'Found'
go
 SELECT COL_LENGTH('TempDb.Dbo.[##TmpItem]','SuperClass2')AS 'Found'
go
 SELECT COL_LENGTH('TempDb.Dbo.[##TmpItem]','SuperClass2Desc')AS 'Found'
go
 SELECT COL_LENGTH('TempDb.Dbo.[##TmpItem]','SubClass1Cd')AS 'Found'
go
 SELECT COL_LENGTH('TempDb.Dbo.[##TmpItem]','SubClass1Desc')AS 'Found'
go
 SELECT COL_LENGTH('TempDb.Dbo.[##TmpItem]','SubClass2Cd')AS 'Found'
go
 SELECT COL_LENGTH('TempDb.Dbo.[##TmpItem]','SubClass2Desc')AS 'Found'
go
 SELECT COL_LENGTH('TempDb.Dbo.[##TmpItem]','SizeCd')AS 'Found'
go
 SELECT COL_LENGTH('TempDb.Dbo.[##TmpItem]','SizeGroupId')AS 'Found'
go
 SELECT COL_LENGTH('TempDb.Dbo.[##TmpItem]','AnalCode1')AS 'Found'
go
 SELECT COL_LENGTH('TempDb.Dbo.[##TmpItem]','AnalDesc1')AS 'Found'
go
 SELECT COL_LENGTH('TempDb.Dbo.[##TmpItem]','AnalCode2')AS 'Found'
go
 SELECT COL_LENGTH('TempDb.Dbo.[##TmpItem]','AnalDesc2')AS 'Found'
go
 SELECT COL_LENGTH('TempDb.Dbo.[##TmpItem]','AnalCode3')AS 'Found'
go
 SELECT COL_LENGTH('TempDb.Dbo.[##TmpItem]','AnalDesc3')AS 'Found'
go
 SELECT COL_LENGTH('TempDb.Dbo.[##TmpItem]','AnalCode4')AS 'Found'
go
 SELECT COL_LENGTH('TempDb.Dbo.[##TmpItem]','AnalDesc4')AS 'Found'
go
 SELECT COL_LENGTH('TempDb.Dbo.[##TmpItem]','AnalCode5')AS 'Found'
go
 SELECT COL_LENGTH('TempDb.Dbo.[##TmpItem]','AnalDesc5')AS 'Found'
go
 SELECT COL_LENGTH('TempDb.Dbo.[##TmpItem]','AnalCode32')AS 'Found'
go
 SELECT COL_LENGTH('TempDb.Dbo.[##TmpItem]','AnalDesc32')AS 'Found'
go
 Select 'SuperClass1',Count(*) as RecCount From [##TmpItem] Where SuperClass1 Is Null having Count(*) >0 Union  Select 'SuperClass1Desc',Count(*) as RecCount From [##TmpItem] Where SuperClass1Desc Is Null having Count(*) >0 Union  Select 'SuperClass2',Count(*) as RecCount From [##TmpItem] Where SuperClass2 Is Null having Count(*) >0 Union  Select 'SuperClass2Desc',Count(*) as RecCount From [##TmpItem] Where SuperClass2Desc Is Null having Count(*) >0 Union  Select 'SubClass1Cd',Count(*) as RecCount From [##TmpItem] Where SubClass1Cd Is Null having Count(*) >0 Union  Select 'SubClass1Desc',Count(*) as RecCount From [##TmpItem] Where SubClass1Desc Is Null having Count(*) >0 Union  Select 'SubClass2Cd',Count(*) as RecCount From [##TmpItem] Where SubClass2Cd Is Null having Count(*) >0 Union  Select 'SubClass2Desc',Count(*) as RecCount From [##TmpItem] Where SubClass2Desc Is Null having Count(*) >0 Union  Select 'SizeCd',Count(*) as RecCount From [##TmpItem] Where SizeCd Is Null having Count(*) >0 Union  Select 'SizeGroupId',Count(*) as RecCount From [##TmpItem] Where SizeGroupId Is Null having Count(*) >0 Union  Select 'AnalCode1',Count(*) as RecCount From [##TmpItem] Where AnalCode1 Is Null having Count(*) >0 Union  Select 'AnalDesc1',Count(*) as RecCount From [##TmpItem] Where AnalDesc1 Is Null having Count(*) >0 Union  Select 'AnalCode2',Count(*) as RecCount From [##TmpItem] Where AnalCode2 Is Null having Count(*) >0 Union  Select 'AnalDesc2',Count(*) as RecCount From [##TmpItem] Where AnalDesc2 Is Null having Count(*) >0 Union  Select 'AnalCode3',Count(*) as RecCount From [##TmpItem] Where AnalCode3 Is Null having Count(*) >0 Union  Select 'AnalDesc3',Count(*) as RecCount From [##TmpItem] Where AnalDesc3 Is Null having Count(*) >0 Union  Select 'AnalCode4',Count(*) as RecCount From [##TmpItem] Where AnalCode4 Is Null having Count(*) >0 Union  Select 'AnalDesc4',Count(*) as RecCount From [##TmpItem] Where AnalDesc4 Is Null having Count(*) >0 Union  Select 'AnalCode5',Count(*) as RecCount From [##TmpItem] Where AnalCode5 Is Null having Count(*) >0 Union  Select 'AnalDesc5',Count(*) as RecCount From [##TmpItem] Where AnalDesc5 Is Null having Count(*) >0 Union  Select 'AnalCode32',Count(*) as RecCount From [##TmpItem] Where AnalCode32 Is Null having Count(*) >0 Union  Select 'AnalDesc32',Count(*) as RecCount From [##TmpItem] Where AnalDesc32 Is Null having Count(*) >0
go
Update [##TmpItem] Set AnalCode4 = [##TmpItemNullCheck].Descr From [##TmpItemNullCheck] Where [##TmpItemNullCheck].Recid = 8400 and [##TmpItemNullCheck].Code = 'AnalCode4' and AnalCode4 is null
go
Update [##TmpItem] Set AnalDesc4 = [##TmpItemNullCheck].Descr From [##TmpItemNullCheck] Where [##TmpItemNullCheck].Recid = 8400 and [##TmpItemNullCheck].Code = 'AnalDesc4' and AnalDesc4 is null
go
Update [##TmpItem] Set AnalCode5 = [##TmpItemNullCheck].Descr From [##TmpItemNullCheck] Where [##TmpItemNullCheck].Recid = 8400 and [##TmpItemNullCheck].Code = 'AnalCode5' and AnalCode5 is null
go
Update [##TmpItem] Set AnalDesc5 = [##TmpItemNullCheck].Descr From [##TmpItemNullCheck] Where [##TmpItemNullCheck].Recid = 8400 and [##TmpItemNullCheck].Code = 'AnalDesc5' and AnalDesc5 is null
go
Select * from tempdb.dbo.[##TmpItem] Where 1=2
go
Update [##TmpItem] set ItemFlag = ItemFlag Where convert(money,Dealer_Price) > convert(money,Retail_Price)
go
 Update [##TmpItem] set Dealer_Price= Retail_Price  Where convert(money,Dealer_Price) > convert(money,Retail_Price)
go
Select Code, Descr From GenLookUp Where RecId=401
go
set implicit_transactions on 
go
Select [Number] From GenLookUp with (xlock) Where RecId=101 And Code='12000'
go
Update GenLookUp Set [Number]=[Number]+1 Where RecId=101 And Code='12000'
go
IF @@TRANCOUNT > 0 COMMIT TRAN
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='VaSysCounter'
go
SET NO_BROWSETABLE OFF
go
 If Exists (Select * From SysObjects Where id = object_id(N'[dbo].[Tr_Ins_ItemMaster]')) Alter Table [ItemMaster] DISABLE Trigger [Tr_Ins_ItemMaster]
go
alter table [##TmpItem] add utflag varchar(1)
go
 SELECT COL_LENGTH('TempDb.Dbo.[##TmpItem]','ImageID')AS 'Found'
go
 SELECT COL_LENGTH('[ItemMaster]','BatchApplicable')AS 'Found'
go
 SELECT COL_LENGTH('TempDb.Dbo.[##TmpItem]','BatchApplicable')AS 'Found'
go
 SELECT COL_LENGTH('[ItemMaster]','GradeApplicable')AS 'Found'
go
 SELECT COL_LENGTH('TempDb.Dbo.[##TmpItem]','GradeApplicable')AS 'Found'
go
 SELECT COL_LENGTH('[ItemMaster]','LocationApplicable')AS 'Found'
go
 SELECT COL_LENGTH('TempDb.Dbo.[##TmpItem]','LocationApplicable')AS 'Found'
go
update [##TmpItem] set utflag='u' From ItemMaster  Where ItemMaster.StockNo=[##TmpItem].StockNo  and ( isnull(ItemMaster.class1cd,'') <> isnull([##TmpItem].class1cd,'') or isnull(ItemMaster.class2cd,'') <> isnull([##TmpItem].class2cd,'') or isnull(ItemMaster.subclass1cd,'') <> isnull([##TmpItem].subclass1cd,'') or isnull(ItemMaster.subclass2cd,'') <> isnull([##TmpItem].subclass2cd,'') or isnull(ItemMaster.SizeCd,'') <> isnull([##TmpItem].SizeCd,'') or ItemMaster.Retail_Price <> convert(money,[##TmpItem].Retail_Price) or isnull(ItemMaster.ProdTaxType,'') <> isnull([##TmpItem].ProdTaxType,'') or isnull(ItemMaster.AnalCode1,'') <> isnull([##TmpItem].analcode1,'') or isnull(ItemMaster.AnalCode2,'') <> isnull([##TmpItem].analcode2,'') or isnull(ItemMaster.AnalCode3,'') <> isnull([##TmpItem].analcode3,'') or isnull(ItemMaster.AnalCode4,'') <> isnull([##TmpItem].analcode4,'') or isnull(ItemMaster.AnalCode5,'') <> isnull([##TmpItem].analcode5,'') or ItemMaster.Dealer_Price <> CONVERT(MONEY,[##TmpItem].DEALER_PRICE) or (ItemMaster.Dealer_Price  is null and [##TmpItem].Dealer_Price is not null) or (ItemMaster.Dealer_Price  is not null and [##TmpItem].Dealer_Price is null) or ItemMaster.IsRPTaxInclusive <> Case [##TmpItem].IsRPTaxInclusive When 'Y' then '1' When '1' then '1' else '0' end or isnull(ItemMaster.RegularInd,'') <> Case [##TmpItem].RegularInd When 'Y' then '1' When '1' then '1' else '0' end or isnull(ItemMaster.AnalCode6,'') <> isnull([##TmpItem].analcode6,'') or isnull(ItemMaster.AnalCode7,'') <> isnull([##TmpItem].analcode7,'') or isnull(ItemMaster.AnalCode8,'') <> isnull([##TmpItem].analcode8,'') or isnull(ItemMaster.AnalCode9,'') <> isnull([##TmpItem].analcode9,'') or isnull(ItemMaster.AnalCode10,'') <> isnull([##TmpItem].analcode10,'') or isnull(ItemMaster.AnalCode11,'') <> isnull([##TmpItem].analcode11,'') or isnull(ItemMaster.AnalCode12,'') <> isnull([##TmpItem].analcode12,'') or isnull(ItemMaster.AnalCode13,'') <> isnull([##TmpItem].analcode13,'') or isnull(ItemMaster.AnalCode14,'') <> isnull([##TmpItem].analcode14,'') or isnull(ItemMaster.AnalCode15,'') <> isnull([##TmpItem].analcode15,'') or isnull(ItemMaster.AnalCode16,'') <> isnull([##TmpItem].analcode16,'') or isnull(ItemMaster.AnalCode17,'') <> isnull([##TmpItem].analcode17,'') or isnull(ItemMaster.AnalCode18,'') <> isnull([##TmpItem].analcode18,'') or isnull(ItemMaster.AnalCode19,'') <> isnull([##TmpItem].analcode19,'') or isnull(ItemMaster.AnalCode20,'') <> isnull([##TmpItem].analcode20,'') or isnull(ItemMaster.AnalCode21,'') <> isnull([##TmpItem].analcode21,'') or isnull(ItemMaster.AnalCode22,'') <> isnull([##TmpItem].analcode22,'') or isnull(ItemMaster.AnalCode23,'') <> isnull([##TmpItem].analcode23,'') or isnull(ItemMaster.AnalCode24,'') <> isnull([##TmpItem].analcode24,'') or isnull(ItemMaster.AnalCode25,'') <> isnull([##TmpItem].analcode25,'') or isnull(ItemMaster.AnalCode26,'') <> isnull([##TmpItem].analcode26,'') or isnull(ItemMaster.AnalCode27,'') <> isnull([##TmpItem].analcode27,'') or isnull(ItemMaster.AnalCode28,'') <> isnull([##TmpItem].analcode28,'') or isnull(ItemMaster.AnalCode29,'') <> isnull([##TmpItem].analcode29,'') or isnull(ItemMaster.AnalCode30,'') <> isnull([##TmpItem].analcode30,'') or isnull(ItemMaster.AnalCode31,'') <> isnull([##TmpItem].analcode31,'') or isnull(ItemMaster.AnalCode32,'') <> isnull([##TmpItem].analcode32,'') or isnull(ItemMaster.BatchSrlNo,'') <> isnull([##TmpItem].BatchSrlNo,'') or ItemMaster.IsInventoryItem <> [##TmpItem].IsInventoryItem or (ItemMaster.IsInventoryItem is null and [##TmpItem].IsInventoryItem is not null) or (ItemMaster.IsInventoryItem is not null and [##TmpItem].IsInventoryItem is  null) or ItemMaster.ImagePresent <> [##TmpItem].ImagePresent or (ItemMaster.ImagePresent is null and [##TmpItem].ImagePresent is not null) or (ItemMaster.ImagePresent is not null and [##TmpItem].ImagePresent is  null) or ItemMaster.ExtDescPresent <> [##TmpItem].ExtDescPresent or (ItemMaster.ExtDescPresent is null and [##TmpItem].ExtDescPresent is not null) or (ItemMaster.ExtDescPresent is not null and [##TmpItem].ExtDescPresent is  null) or ItemMaster.ReordLvl <> CONVERT(MONEY,[##TmpItem].ReordLvl) or (ItemMaster.ReordLvl is null and [##TmpItem].ReordLvl is not null) or (ItemMaster.ReordLvl is not null and [##TmpItem].ReordLvl is  null) or ItemMaster.EOQ <> CONVERT(MONEY,[##TmpItem].EOQ) or (ItemMaster.EOQ is null and [##TmpItem].EOQ is not null) or (ItemMaster.EOQ is not null and [##TmpItem].EOQ is  null) or ItemMaster.MinOrdQty <> CONVERT(MONEY,[##TmpItem].MinOrdQty) or (ItemMaster.MinOrdQty is null and [##TmpItem].MinOrdQty is not null) or (ItemMaster.MinOrdQty is not null and [##TmpItem].MinOrdQty is  null) or ItemMaster.IsBillable <> [##TmpItem].IsBillable or (ItemMaster.IsBillable is null and [##TmpItem].IsBillable is not null) or (ItemMaster.IsBillable is not null and [##TmpItem].IsBillable is  null) or ItemMaster.IsService <> [##TmpItem].IsService or (ItemMaster.IsService is null and [##TmpItem].IsService is not null) or (ItemMaster.IsService is not null and [##TmpItem].IsService is  null) or ItemMaster.RtlMarkUp <> CONVERT(MONEY,[##TmpItem].RtlMarkUp) or (ItemMaster.RtlMarkUp is null and [##TmpItem].RtlMarkUp is not null) or (ItemMaster.RtlMarkUp is not null and [##TmpItem].RtlMarkUp is  null) or ItemMaster.DlrMarkUp <> CONVERT(MONEY,[##TmpItem].DlrMarkUp) or (ItemMaster.DlrMarkUp is null and [##TmpItem].DlrMarkUp is not null) or (ItemMaster.DlrMarkUp is not null and [##TmpItem].DlrMarkUp is  null) or isnull(ItemMaster.MfgDate,'') <> Convert(DateTime,isnull([##TmpItem].MfgDate,''),105) or ItemMaster.ExpDate <> Convert(DateTime,isnull([##TmpItem].ExpDate,''),105) or ItemMaster.ShelfLife <> [##TmpItem].ShelfLife or (ItemMaster.ShelfLife is null and [##TmpItem].ShelfLife is not null) or (ItemMaster.ShelfLife is not null and [##TmpItem].ShelfLife is  null) or isnull(ItemMaster.CCStockNo,'') <> isnull([##TmpItem].CCStockNo,'') or ItemMaster.FinalMRP <> CONVERT(MONEY,[##TmpItem].FinalMRP) or (ItemMaster.FinalMRP is null and [##TmpItem].FinalMRP is not null) or (ItemMaster.FinalMRP is not null and [##TmpItem].FinalMRP is  null) or ItemMaster.IsConsignmentItem <> [##TmpItem].IsConsignmentItem or (ItemMaster.IsConsignmentItem is null and [##TmpItem].IsConsignmentItem is not null) or (ItemMaster.IsConsignmentItem is not null and [##TmpItem].IsConsignmentItem is  null) or ItemMaster.LeastSalableQty <> CONVERT(MONEY,[##TmpItem].LeastSalableQty) or (ItemMaster.LeastSalableQty is null and [##TmpItem].LeastSalableQty is not null) or (ItemMaster.LeastSalableQty is not null and [##TmpItem].LeastSalableQty is  null) or ItemMaster.UseJwlPricing <> 0 or ItemMaster.ItemDesc <> substring([##TmpItem].ItemDesc,1,60) or ItemMaster.JwlGrossWt <> Null or ItemMaster.JwlStoneWt <> Null or  ItemMaster.JwlWtFactor <> Null or ItemMaster.JwlRateFactor <> Null or ItemMaster.JwlStoneVal <> Null or ItemMaster.JwlMakeCharge <> Null or ItemMaster.JwlValFactor <> Null or ItemMaster.JwlMetalInd <> '')
go
 SELECT COL_LENGTH('TempDb.Dbo.[##TmpItem]','ImageID')AS 'Found'
go
 SELECT COL_LENGTH('[ItemMaster]','BatchApplicable')AS 'Found'
go
 SELECT COL_LENGTH('TempDb.Dbo.[##TmpItem]','BatchApplicable')AS 'Found'
go
 SELECT COL_LENGTH('[ItemMaster]','GradeApplicable')AS 'Found'
go
 SELECT COL_LENGTH('TempDb.Dbo.[##TmpItem]','GradeApplicable')AS 'Found'
go
 SELECT COL_LENGTH('[ItemMaster]','LocationApplicable')AS 'Found'
go
 SELECT COL_LENGTH('TempDb.Dbo.[##TmpItem]','LocationApplicable')AS 'Found'
go
Update ItemMaster Set ItemMaster.VaCtr=1, ItemMaster.class1cd = [##TmpItem].class1cd, ItemMaster.class2cd = [##TmpItem].class2cd, ItemMaster.subclass1cd = [##TmpItem].subclass1cd, ItemMaster.subclass2cd = [##TmpItem].subclass2cd, ItemMaster.SizeCd = [##TmpItem].SizeCd, ItemMaster.Retail_Price = convert(money,[##TmpItem].Retail_Price), ItemMaster.ProdTaxType = [##TmpItem].ProdTaxType, ItemMaster.AnalCode1 = [##TmpItem].analcode1, ItemMaster.AnalCode2 = [##TmpItem].analcode2, ItemMaster.AnalCode3 = [##TmpItem].analcode3, ItemMaster.AnalCode4 = [##TmpItem].analcode4, ItemMaster.AnalCode5= [##TmpItem].analcode5, ItemMaster.Dealer_Price = CONVERT(MONEY,[##TmpItem].DEALER_PRICE), ItemMaster.IsRPTaxInclusive=Case [##TmpItem].IsRPTaxInclusive When 'Y' then '1' When '1' then '1' else '0' end, ItemMaster.RegularInd=Case [##TmpItem].RegularInd When 'Y' then '1' When '1' then '1' else '0' end, ItemMaster.AnalCode6 = [##TmpItem].analcode6, ItemMaster.AnalCode7 = [##TmpItem].analcode7, ItemMaster.AnalCode8 = [##TmpItem].analcode8, ItemMaster.AnalCode9 = [##TmpItem].analcode9, ItemMaster.AnalCode10 = [##TmpItem].analcode10, ItemMaster.AnalCode11 = [##TmpItem].analcode11, ItemMaster.AnalCode12 = [##TmpItem].analcode12, ItemMaster.AnalCode13 = [##TmpItem].analcode13, ItemMaster.AnalCode14 = [##TmpItem].analcode14, ItemMaster.AnalCode15 = [##TmpItem].analcode15, ItemMaster.AnalCode16 = [##TmpItem].analcode16, ItemMaster.AnalCode17 = [##TmpItem].analcode17, ItemMaster.AnalCode18 = [##TmpItem].analcode18, ItemMaster.AnalCode19 = [##TmpItem].analcode19, ItemMaster.AnalCode20 = [##TmpItem].analcode20, ItemMaster.AnalCode21 = [##TmpItem].analcode21, ItemMaster.AnalCode22 = [##TmpItem].analcode22, ItemMaster.AnalCode23 = [##TmpItem].analcode23, ItemMaster.AnalCode24 = [##TmpItem].analcode24, ItemMaster.AnalCode25 = [##TmpItem].analcode25, ItemMaster.AnalCode26 = [##TmpItem].analcode26, ItemMaster.AnalCode27 = [##TmpItem].analcode27, ItemMaster.AnalCode28 = [##TmpItem].analcode28, ItemMaster.AnalCode29 = [##TmpItem].analcode29, ItemMaster.AnalCode30 = [##TmpItem].analcode30, ItemMaster.AnalCode31 = [##TmpItem].analcode31, ItemMaster.AnalCode32 = [##TmpItem].analcode32, ItemMaster.BatchSrlNo = [##TmpItem].BatchSrlNo, ItemMaster.IsInventoryItem = [##TmpItem].IsInventoryItem, ItemMaster.ImagePresent = [##TmpItem].ImagePresent, ItemMaster.ExtDescPresent = [##TmpItem].ExtDescPresent, ItemMaster.ReordLvl = CONVERT(MONEY,[##TmpItem].ReordLvl), ItemMaster.EOQ = CONVERT(MONEY,[##TmpItem].EOQ), ItemMaster.MinOrdQty = CONVERT(MONEY,[##TmpItem].MinOrdQty), ItemMaster.IsBillable = [##TmpItem].IsBillable, ItemMaster.IsService = [##TmpItem].IsService, ItemMaster.RtlMarkUp = CONVERT(MONEY,[##TmpItem].RtlMarkUp), ItemMaster.DlrMarkUp = CONVERT(MONEY,[##TmpItem].DlrMarkUp), ItemMaster.MfgDate = Convert(DateTime,[##TmpItem].MfgDate,105), ItemMaster.ExpDate = Convert(DateTime,[##TmpItem].ExpDate,105), ItemMaster.ShelfLife = [##TmpItem].ShelfLife, ItemMaster.CCStockNo = [##TmpItem].CCStockNo, ItemMaster.FinalMRP = CONVERT(MONEY,[##TmpItem].FinalMRP), ItemMaster.IsConsignmentItem = [##TmpItem].IsConsignmentItem, ItemMaster.LeastSalableQty = CONVERT(MONEY,[##TmpItem].LeastSalableQty), ItemMaster.UseJwlPricing = 0,ItemMaster.ItemDesc = substring([##TmpItem].ItemDesc,1,60), ItemMaster.JwlGrossWt = Null,ItemMaster.JwlStoneWt = Null, ItemMaster.JwlWtFactor = Null,ItemMaster.JwlRateFactor = Null,ItemMaster.JwlStoneVal = Null, ItemMaster.JwlMakeCharge = Null,ItemMaster.JwlValFactor = Null,ItemMaster.JwlMetalInd = ''  From [##TmpItem]  Where [##TmpItem].utflag='u' and  ItemMaster.StockNo=[##TmpItem].StockNo  
go
update  ##TmpItem set utflag='t' from StkTrnDtls where  ##TmpItem.StockNo= StkTrnDtls.stockno
go
Update ItemMaster Set  ItemMaster.VaCtr=1,ItemMaster.CurrentCost = CONVERT(MONEY,[##TmpItem].CurrentCost),  ItemMaster.LASTPURCHPRICE = CONVERT(Money, [##TmpItem].LASTPURCHPRICE) From [##TmpItem] where ItemMaster.StockNo=[##TmpItem].StockNo  and ( [##TmpItem].utflag='u' or [##TmpItem].utflag is null)  and  ( ItemMaster.CurrentCost <> CONVERT(MONEY,[##TmpItem].CurrentCost) or  ItemMaster.LastPurchPrice <> CONVERT(MONEY,[##TmpItem].LASTPURCHPRICE) ) 
go
alter table [##TmpItem] drop column utflag 
go
Update [##TmpItem] Set [##TmpItem].ItemFlag=1 From ItemMaster Where [##TmpItem].StockNo=ItemMaster.StockNo
go
 Insert Into PosActivityLogDtls(CtrlNumber,SystemDateTime,SrlNo,tblname,RecordCountTextFile,InsertRecordCountTable, UpdateRecordCountTable,Status,SystemStartTime,SystemEndTime,VaUid,Vactr,VaTermId,VaCompCode) Values(1,GetDate(),1,'ItemMaster', 22184, 0, -1, 'Loaded','2026-05-11 05:07:52 PM', '2026-05-11 05:07:54 PM','super',1 ,'.','R10')
go
 SELECT COL_LENGTH('TempDb.Dbo.[##TmpItem]','ImageID')AS 'Found'
go
 SELECT COL_LENGTH('TempDb.Dbo.[##TmpItem]','BatchApplicable')AS 'Found'
go
 SELECT COL_LENGTH('[ItemMaster]','BatchApplicable')AS 'Found'
go
 SELECT COL_LENGTH('TempDb.Dbo.[##TmpItem]','GradeApplicable')AS 'Found'
go
 SELECT COL_LENGTH('[ItemMaster]','GradeApplicable')AS 'Found'
go
 SELECT COL_LENGTH('TempDb.Dbo.[##TmpItem]','LocationApplicable')AS 'Found'
go
 SELECT COL_LENGTH('[ItemMaster]','LocationApplicable')AS 'Found'
go
 SELECT COL_LENGTH('TempDb.Dbo.[##TmpItem]','ImageID')AS 'Found'
go
 SELECT COL_LENGTH('TempDb.Dbo.[##TmpItem]','BatchApplicable')AS 'Found'
go
 SELECT COL_LENGTH('[ItemMaster]','BatchApplicable')AS 'Found'
go
 SELECT COL_LENGTH('TempDb.Dbo.[##TmpItem]','GradeApplicable')AS 'Found'
go
 SELECT COL_LENGTH('[ItemMaster]','GradeApplicable')AS 'Found'
go
 SELECT COL_LENGTH('TempDb.Dbo.[##TmpItem]','LocationApplicable')AS 'Found'
go
 SELECT COL_LENGTH('[ItemMaster]','LocationApplicable')AS 'Found'
go
Insert into Itemmaster(VaCtr,stockno,class1cd,class2cd,subclass1cd,subclass2cd,sizecd,Retail_Price,CurrentCost,LeastSalableQty,ProdTaxType,ItemDesc,AnalCode1,AnalCode2,AnalCode3,AnalCode4,AnalCode5,UseJwlPricing,JwlCaratage,JwlGrossWt,JwlStoneWt,JwlWtFactor,JwlRateFactor,JwlStoneVal,JwlMakeCharge,JwlValFactor,JwlMetalInd,Dealer_Price,LastPurchPrice,IsRPTaxInclusive,RegularInd,AnalCode6,AnalCode7,AnalCode8,AnalCode9,AnalCode10,AnalCode11,AnalCode12,AnalCode13,AnalCode14,AnalCode15,AnalCode16,AnalCode17,AnalCode18,AnalCode19,AnalCode20,AnalCode21,AnalCode22,AnalCode23,AnalCode24,AnalCode25,AnalCode26,AnalCode27,AnalCode28,AnalCode29,AnalCode30,AnalCode31,AnalCode32,BatchSrlNo, SrcTaxType, IsInventoryItem, ImagePresent, ExtDescPresent, ReordLvl, EOQ, MinOrdQty, IsBillable,IsService, RtlMarkUp , DlrMarkUp, MfgDate, ExpDate, ShelfLife, CCStockNo, FinalMRP, IsConsignmentItem)Select 1,stockno,class1cd,class2cd,subclass1cd,subclass2cd,sizecd,convert(money,Retail_Price),convert(money,CurrentCost),CONVERT(MONEY,LeastSalableQty),ProdTaxType,substring(ItemDesc,1,60),analcode1,analcode2,analcode3,analcode4,analcode5,0,1,0,0,0,0,0,0,0,0,convert(money,Dealer_Price),convert(money,LastPurchPrice),Case [##TmpItem].IsRPTaxInclusive When 'Y' then '1' When '1' then '1' else '0' end, Case [##TmpItem].RegularInd When 'Y' then '1' When '1' then '1' else '0' end,AnalCode6,AnalCode7,AnalCode8,AnalCode9,AnalCode10,AnalCode11,AnalCode12,AnalCode13,AnalCode14,AnalCode15,AnalCode16,AnalCode17,AnalCode18,AnalCode19,AnalCode20,AnalCode21,AnalCode22,AnalCode23,AnalCode24,AnalCode25,AnalCode26,AnalCode27,AnalCode28,AnalCode29,AnalCode30,AnalCode31,AnalCode32,BatchSrlNo ,SrcTaxType, IsInventoryItem, ImagePresent, ExtDescPresent, ReordLvl, EOQ, MinOrdQty, IsBillable,IsService, convert(money,RtlMarkUp) , convert(money,DlrMarkUp), Convert(DateTime,MfgDate,105), Convert(DateTime,ExpDate,105), ShelfLife, CCStockNo, convert(money,FinalMRP), IsConsignmentItem from [##TmpItem] Where ItemFlag = 0 
go
 Insert Into PosActivityLogDtls(CtrlNumber,SystemDateTime,SrlNo,tblname,RecordCountTextFile,InsertRecordCountTable, UpdateRecordCountTable,Status,SystemStartTime,SystemEndTime,VaUid,Vactr,VaTermId,VaCompCode) Values(1,GetDate(),2,'ItemMaster', 22184, 22184, 0, 'Loaded','2026-05-11 05:07:54 PM', '2026-05-11 05:07:54 PM','super',1 ,'.','R10')
go
 Update [##TmpItem] Set ItemFlag=0
go
Update [##TmpItem] Set [##TmpItem].ItemFlag=1 From StockMaster Where [##TmpItem].StockNo=StockMaster.StockNo
go
Insert Into StockMaster(stockno,batchsrlno,LocnId,YrOpBalQty,YrOpBalVal,CurBalQty,CurBalVal,VAUId,VACtr) Select StockNo,0,0,0,0,0,0,null,1 From [##TmpItem] Where ItemFlag=0
go
 Insert Into PosActivityLogDtls(CtrlNumber,SystemDateTime,SrlNo,tblname,RecordCountTextFile,InsertRecordCountTable, UpdateRecordCountTable,Status,SystemStartTime,SystemEndTime,VaUid,Vactr,VaTermId,VaCompCode) Values(1,GetDate(),3,'StockMaster', 22184, 22184, 0, 'Loaded','2026-05-11 05:07:54 PM', '2026-05-11 05:07:54 PM','super',1 ,'.','R10')
go
Insert Into [##TmpSubclass1cat](ItemFlag,Class1Cd, Class2Cd, Subclass1Cd) Select Distinct 0,Class1Cd, Class2Cd, Subclass1Cd From [##TmpItem]
go
Update [##TmpSubclass1cat]  set [##TmpSubclass1cat].subclass1desc=left([##TmpItem].subclass1desc,40), [##TmpSubclass1cat].prodtaxtype=[##TmpItem].prodtaxtype,[##TmpSubclass1cat].analcode1=[##TmpItem].analcode1, [##TmpSubclass1cat].analcode2=[##TmpItem].analcode2,[##TmpSubclass1cat].analcode3=[##TmpItem].analcode3, [##TmpSubclass1cat].analcode4=[##TmpItem].analcode4,[##TmpSubclass1cat].analcode5=[##TmpItem].analcode5,[##TmpSubclass1cat].analcode6=[##TmpItem].analcode6,[##TmpSubclass1cat].analcode7=[##TmpItem].analcode7, [##TmpSubclass1cat].analcode8=[##TmpItem].analcode8,[##TmpSubclass1cat].analcode9=[##TmpItem].analcode9, [##TmpSubclass1cat].analcode10=[##TmpItem].analcode10,[##TmpSubclass1cat].analcode11=[##TmpItem].analcode11, [##TmpSubclass1cat].analcode12=[##TmpItem].analcode12,[##TmpSubclass1cat].analcode13=[##TmpItem].analcode13, [##TmpSubclass1cat].analcode14=[##TmpItem].analcode14,[##TmpSubclass1cat].analcode15=[##TmpItem].analcode15, [##TmpSubclass1cat].analcode16=[##TmpItem].analcode16,[##TmpSubclass1cat].analcode17=[##TmpItem].analcode17, [##TmpSubclass1cat].analcode18=[##TmpItem].analcode18,[##TmpSubclass1cat].analcode19=[##TmpItem].analcode19, [##TmpSubclass1cat].analcode20=[##TmpItem].analcode20,[##TmpSubclass1cat].analcode21=[##TmpItem].analcode21, [##TmpSubclass1cat].analcode22=[##TmpItem].analcode22, [##TmpSubclass1cat].analcode23=[##TmpItem].analcode23,[##TmpSubclass1cat].analcode24=[##TmpItem].analcode24, [##TmpSubclass1cat].analcode25=[##TmpItem].analcode25,[##TmpSubclass1cat].analcode26=[##TmpItem].analcode26, [##TmpSubclass1cat].analcode27=[##TmpItem].analcode27,[##TmpSubclass1cat].analcode28=[##TmpItem].analcode28, [##TmpSubclass1cat].analcode29=[##TmpItem].analcode29,[##TmpSubclass1cat].analcode30=[##TmpItem].analcode30, [##TmpSubclass1cat].analcode31=[##TmpItem].analcode31,[##TmpSubclass1cat].analcode32=[##TmpItem].analcode32 From [##TmpSubclass1cat],[##TmpItem] where [##TmpSubclass1cat].class1cd=[##TmpItem].class1cd and [##TmpSubclass1cat].class2cd=[##TmpItem].class2cd and [##TmpSubclass1cat].subclass1cd=[##TmpItem].subclass1cd
go
Update [##TmpSubclass1cat] Set [##TmpSubclass1cat].ItemFlag=1 From SubClass1Cat  Where [##TmpSubclass1cat].Class1Cd=SubClass1Cat.Class1cd and [##TmpSubclass1cat].Class2Cd=SubClass1Cat.Class2cd and [##TmpSubclass1cat].SubClass1Cd=SubClass1Cat.SubClass1cd
go
Insert into SubClass1Cat (Class1Cd,Class2Cd,SubClass1Cd,SubClass1Desc,ProdTaxType,RegularInd,AnalCode1,AnalCode2,AnalCode3,AnalCode4,AnalCode5,VActr) Select Class1Cd,Class2Cd,SubClass1Cd,SubClass1Desc,ProdTaxType,RegularInd,AnalCode1,AnalCode2,AnalCode3,AnalCode4,AnalCode5,1 From [##TmpSubclass1cat] Where ItemFlag = 0
go
Insert Into [##TmpSubclass2cat](ItemFlag,Class1Cd, Class2Cd, Subclass2Cd) Select Distinct 0,Class1Cd, Class2Cd, Subclass2Cd From [##TmpItem]
go
Update [##TmpSubclass2cat]  set [##TmpSubclass2cat].subclass2desc=left([##TmpItem].subclass2desc,40) From [##TmpSubclass2cat],[##TmpItem] where [##TmpSubclass2cat].class1cd=[##TmpItem].class1cd and [##TmpSubclass2cat].class2cd=[##TmpItem].class2cd and [##TmpSubclass2cat].subclass2cd=[##TmpItem].subclass2cd
go
Update [##TmpSubclass2cat] Set [##TmpSubclass2cat].ItemFlag=1 From SubClass2Cat  Where [##TmpSubclass2cat].Class1Cd=SubClass2Cat.Class1cd and [##TmpSubclass2cat].Class2Cd=SubClass2Cat.Class2cd and [##TmpSubclass2cat].SubClass2Cd=SubClass2Cat.SubClass2cd
go
Insert into SubClass2Cat (Class1Cd,Class2Cd,SubClass2Cd,SubClass2Desc,VActr) Select Class1Cd,Class2Cd,SubClass2Cd,SubClass2Desc,1 From [##TmpSubclass2cat] Where ItemFlag = 0
go
Insert Into [##TmpClass12combo](ItemFlag,Class1Cd,Class2Cd, superclass1, superclass2) Select Distinct 0,Class1Cd, Class2Cd, superclass1, superclass2 From [##TmpItem]
go
Update [##TmpClass12combo]  set [##TmpClass12combo].prodtaxtype=[##TmpItem].prodtaxtype, [##TmpClass12combo].sizegroup = [##TmpItem].sizegroupid, [##TmpClass12combo].Billable = 1,[##TmpClass12combo].RetailMarkUp =0, [##TmpClass12combo].DealerMarkUp =0, [##TmpClass12combo].PrefVendorId = [##TmpItem].vendorcode, [##TmpClass12combo].AltVendorId1=' ', [##TmpClass12combo].AltVendorId2 = ' ',[##TmpClass12combo].AltVendorId3= ' ',[##TmpClass12combo].IsServiceCombo = 0,[##TmpClass12combo].IsConsignmentItem = 0 From [##TmpClass12combo],[##TmpItem] where [##TmpClass12combo].class1cd=[##TmpItem].class1cd and [##TmpClass12combo].class2cd=[##TmpItem].class2cd 
go
Update [##TmpClass12combo] Set [##TmpClass12combo].ItemFlag=1 From Class12Combo  Where [##TmpClass12combo].Class1Cd=Class12Combo.Class1cd and [##TmpClass12combo].Class2Cd=Class12Combo.Class2cd
go
Insert Into Class12Combo(Class1Cd,Class2Cd,Billable,SizeGroup,RetailMarkUp,DealerMarkUp,PrefVendorId,AltVendorId1,AltVendorId2,AltVendorId3,ProdTaxType,SuperClass1,SuperClass2,IsServiceCombo,IsConsignmentItem,VActr) Select Class1Cd,Class2Cd,isnull(Billable,1),SizeGroup,isnull(RetailMarkUp,0),isnull(DealerMarkUp,0),isnull(PrefVendorId,'na'),isnull(AltVendorId1,'na'),isnull(AltVendorId2,'na'),isnull(AltVendorId3,'na'),ProdTaxType,isnull(SuperClass1,'na'),isnull(SuperClass2,'na'),isnull(IsServiceCombo,0),isnull(IsConsignmentItem,0),1 From [##TmpClass12combo] Where ItemFlag = 0
go
Insert Into [##TmpSizecat](ItemFlag,Class1Cd, Class2Cd, SizeCd, SizeGroupId, SizeGroupSrlNo,IsPivotalsize) SELECT distinct 0,Class1cd, Class2cd, SizeCd, SizeGroupId, isnull(SizeGroupSrlNo,0),0  From [##TmpItem] 
go
Update [##TmpSizecat] Set [##TmpSizecat].ItemFlag=1 From SizeCat  Where [##TmpSizecat].Class1Cd=SizeCat.Class1cd and [##TmpSizecat].Class2Cd=SizeCat.Class2cd and [##TmpSizecat].sizecd=SizeCat.sizecd
go
Insert into SizeCat(Class1cd , Class2cd, SizeCd, IsPivotalSize, SizeGroupId, SizeGroupSrlNo, IdealStockRatioQty, ConvSizeCd, ConvFactor, VActr) Select Class1cd , Class2cd, SizeCd, IsPivotalSize, SizeGroupId, SizeGroupSrlNo, IdealStockRatioQty, ConvSizeCd, ConvFactor,1 From [##TmpSizecat] Where ItemFlag = 0
go
 If Exists (Select * From SysObjects Where id = object_id(N'[dbo].[TmpLookUp]') and OBJECTPROPERTY(id, N'IsUserTable') = 1) drop table [dbo].[TmpLookUp]
go
Select Code,Descr,RecId into TmpLookUp From [GenLookup]
go
Delete from Tmplookup
go
Insert into Tmplookup (code,descr,recid) select distinct class1cd ,'',1 as recid from [##TmpItem]
go
Update Tmplookup  set tmplookup.descr=[##TmpItem].class1desc from Tmplookup,[##TmpItem] where tmplookup.recid=1 and Tmplookup.code=[##TmpItem].class1cd
go
Insert into Tmplookup (code,descr,recid) select distinct class2cd ,'',2 as recid from [##TmpItem]
go
Update Tmplookup  set tmplookup.descr=[##TmpItem].class2desc from Tmplookup,[##TmpItem] where tmplookup.recid=2 and Tmplookup.code=[##TmpItem].class2cd
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='ProdtaxtypeRecid'
go
SET NO_BROWSETABLE OFF
go
Insert into Tmplookup (code,descr,recid) select distinct prodtaxtype ,Prodtaxdesc,54 as recid from [##TmpItem] where prodtaxtype is not null
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='SizeGroupRecid'
go
SET NO_BROWSETABLE OFF
go
Insert into Tmplookup (code,descr,recid) select distinct sizegroupId ,'',53 as recid from [##TmpItem] where sizegroupid is not null
go
Update Tmplookup  set tmplookup.descr=[##TmpItem].sizegroupdesc from [##TmpItem],tmplookup Where tmplookup.recid = 53 and Tmplookup.code=[##TmpItem].sizegroupid
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='ItemAnacd1Recid'
go
SET NO_BROWSETABLE OFF
go
Insert into Tmplookup (code,descr,recid) select distinct analcode1, analdesc1,65 as recid from [##TmpItem] where analcode1 is not null and analdesc1 is not null
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='ItemAnacd2Recid'
go
SET NO_BROWSETABLE OFF
go
Insert into Tmplookup (code,descr,recid) select distinct analcode2, analdesc2,66 as recid from [##TmpItem] where analcode2 is not null and analdesc2 is not null
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='ItemAnacd3Recid'
go
SET NO_BROWSETABLE OFF
go
Insert into Tmplookup (code,descr,recid) select distinct analcode3, analdesc3,67 as recid from [##TmpItem] where analcode3 is not null and analdesc3 is not null
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='ItemAnacd4Recid'
go
SET NO_BROWSETABLE OFF
go
Insert into Tmplookup (code,descr,recid) select distinct analcode4, analdesc4,68 as recid from [##TmpItem] where analcode4 is not null and analdesc4 is not null
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='ItemAnacd5Recid'
go
SET NO_BROWSETABLE OFF
go
Insert into Tmplookup (code,descr,recid) select distinct analcode5, analdesc5,69 as recid from [##TmpItem] where analcode5 is not null and analdesc5 is not null
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='ItemAnacd6Recid'
go
SET NO_BROWSETABLE OFF
go
Insert into Tmplookup (code,descr,recid) select distinct analcode6, analdesc6,7000 as recid from [##TmpItem] where analcode6 is not null and analdesc6 is not null
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='ItemAnacd7Recid'
go
SET NO_BROWSETABLE OFF
go
Insert into Tmplookup (code,descr,recid) select distinct analcode7, analdesc7,7001 as recid from [##TmpItem] where analcode7 is not null and analdesc7 is not null
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='ItemAnacd8Recid'
go
SET NO_BROWSETABLE OFF
go
Insert into Tmplookup (code,descr,recid) select distinct analcode8, analdesc8,7002 as recid from [##TmpItem] where analcode8 is not null and analdesc8 is not null
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='ItemAnacd9Recid'
go
SET NO_BROWSETABLE OFF
go
Insert into Tmplookup (code,descr,recid) select distinct analcode9, analdesc9,7003 as recid from [##TmpItem] where analcode9 is not null and analdesc9 is not null
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='ItemAnacd10Recid'
go
SET NO_BROWSETABLE OFF
go
Insert into Tmplookup (code,descr,recid) select distinct analcode10, analdesc10,7004 as recid from [##TmpItem] where analcode10 is not null and analdesc10 is not null
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='ItemAnacd11Recid'
go
SET NO_BROWSETABLE OFF
go
Insert into Tmplookup (code,descr,recid) select distinct analcode11, analdesc11,7005 as recid from [##TmpItem] where analcode11 is not null and analdesc11 is not null
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='ItemAnacd12Recid'
go
SET NO_BROWSETABLE OFF
go
Insert into Tmplookup (code,descr,recid) select distinct analcode12, analdesc12,7006 as recid from [##TmpItem] where analcode12 is not null and analdesc12 is not null
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='ItemAnacd13Recid'
go
SET NO_BROWSETABLE OFF
go
Insert into Tmplookup (code,descr,recid) select distinct analcode13, analdesc13,7007 as recid from [##TmpItem] where analcode13 is not null and analdesc13 is not null
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='ItemAnacd14Recid'
go
SET NO_BROWSETABLE OFF
go
Insert into Tmplookup (code,descr,recid) select distinct analcode14, analdesc14,7008 as recid from [##TmpItem] where analcode14 is not null and analdesc14 is not null
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='ItemAnacd15Recid'
go
SET NO_BROWSETABLE OFF
go
Insert into Tmplookup (code,descr,recid) select distinct analcode15, analdesc15,7009 as recid from [##TmpItem] where analcode15 is not null and analdesc15 is not null
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='ItemAnacd16Recid'
go
SET NO_BROWSETABLE OFF
go
Insert into Tmplookup (code,descr,recid) select distinct analcode16, analdesc16,7010 as recid from [##TmpItem] where analcode16 is not null and analdesc16 is not null
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='ItemAnacd17Recid'
go
SET NO_BROWSETABLE OFF
go
Insert into Tmplookup (code,descr,recid) select distinct analcode17, analdesc17,7011 as recid from [##TmpItem] where analcode17 is not null and analdesc17 is not null
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='ItemAnacd18Recid'
go
SET NO_BROWSETABLE OFF
go
Insert into Tmplookup (code,descr,recid) select distinct analcode18, analdesc18,7012 as recid from [##TmpItem] where analcode18 is not null and analdesc18 is not null
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='ItemAnacd19Recid'
go
SET NO_BROWSETABLE OFF
go
Insert into Tmplookup (code,descr,recid) select distinct analcode19, analdesc19,7013 as recid from [##TmpItem] where analcode19 is not null and analdesc19 is not null
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='ItemAnacd20Recid'
go
SET NO_BROWSETABLE OFF
go
Insert into Tmplookup (code,descr,recid) select distinct analcode20, analdesc20,7014 as recid from [##TmpItem] where analcode20 is not null and analdesc20 is not null
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='ItemAnacd21Recid'
go
SET NO_BROWSETABLE OFF
go
Insert into Tmplookup (code,descr,recid) select distinct analcode21, analdesc21,7015 as recid from [##TmpItem] where analcode21 is not null and analdesc21 is not null
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='ItemAnacd22Recid'
go
SET NO_BROWSETABLE OFF
go
Insert into Tmplookup (code,descr,recid) select distinct analcode22, analdesc22,7016 as recid from [##TmpItem] where analcode22 is not null and analdesc22 is not null
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='ItemAnacd23Recid'
go
SET NO_BROWSETABLE OFF
go
Insert into Tmplookup (code,descr,recid) select distinct analcode23, analdesc23,7017 as recid from [##TmpItem] where analcode23 is not null and analdesc23 is not null
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='ItemAnacd24Recid'
go
SET NO_BROWSETABLE OFF
go
Insert into Tmplookup (code,descr,recid) select distinct analcode24, analdesc24,7018 as recid from [##TmpItem] where analcode24 is not null and analdesc24 is not null
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='ItemAnacd25Recid'
go
SET NO_BROWSETABLE OFF
go
Insert into Tmplookup (code,descr,recid) select distinct analcode25, analdesc25,7019 as recid from [##TmpItem] where analcode25 is not null and analdesc25 is not null
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='ItemAnacd26Recid'
go
SET NO_BROWSETABLE OFF
go
Insert into Tmplookup (code,descr,recid) select distinct analcode26, analdesc26,7020 as recid from [##TmpItem] where analcode26 is not null and analdesc26 is not null
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='ItemAnacd27Recid'
go
SET NO_BROWSETABLE OFF
go
Insert into Tmplookup (code,descr,recid) select distinct analcode27, analdesc27,7021 as recid from [##TmpItem] where analcode27 is not null and analdesc27 is not null
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='ItemAnacd28Recid'
go
SET NO_BROWSETABLE OFF
go
Insert into Tmplookup (code,descr,recid) select distinct analcode28, analdesc28,7022 as recid from [##TmpItem] where analcode28 is not null and analdesc28 is not null
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='ItemAnacd29Recid'
go
SET NO_BROWSETABLE OFF
go
Insert into Tmplookup (code,descr,recid) select distinct analcode29, analdesc29,7023 as recid from [##TmpItem] where analcode29 is not null and analdesc29 is not null
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='ItemAnacd30Recid'
go
SET NO_BROWSETABLE OFF
go
Insert into Tmplookup (code,descr,recid) select distinct analcode30, analdesc30,7024 as recid from [##TmpItem] where analcode30 is not null and analdesc30 is not null
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='ItemAnacd31Recid'
go
SET NO_BROWSETABLE OFF
go
Insert into Tmplookup (code,descr,recid) select distinct analcode31, analdesc31,7025 as recid from [##TmpItem] where analcode31 is not null and analdesc31 is not null
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='ItemAnacd32Recid'
go
SET NO_BROWSETABLE OFF
go
Insert into Tmplookup (code,descr,recid) select distinct analcode32, analdesc32,7026 as recid from [##TmpItem] where analcode32 is not null and analdesc32 is not null
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='SuperClass1Present'
go
select * from Sysparam where paramcode ='SuperClass1RecId'
go
SET NO_BROWSETABLE OFF
go
Insert into Tmplookup (code,descr,recid) select distinct superclass1 ,superclass1desc,51 as recid from [##TmpItem] where superclass1 is not null
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='SuperClass2Present'
go
select * from Sysparam where paramcode ='SuperClass2RecId'
go
SET NO_BROWSETABLE OFF
go
Insert into Tmplookup (code,descr,recid) select distinct superclass2 ,superclass2desc,52 as recid from [##TmpItem] where superclass2 is not null
go
Delete from tmplookup where code is null
go
Insert into Genlookup (Recid,Code,Descr,VAUId,VACtr) SELECT recid,code,descr,null,1 FROM tmplookup where not exists  ( select recid,code, descr from genlookup where  tmplookup.code=genlookup.code and tmplookup.recid=genlookup.recid)
go
SET NO_BROWSETABLE ON
go
select * from Sysparam where paramcode ='DefaultTaxInclusiveUpdateInPMGIR'
go
SET NO_BROWSETABLE OFF
go
Insert Into PosActivityLogHdr(CtrlNumber,SystemDateTime,ShoperDate,ShoperSysStatus,ProgramName,ProgramOption,ProgramDesc, ProgramVersionInfo,[File_Name],FileSize,Status,SystemStartTime,SystemEndTime,VaUid,Vactr,VaTermId,VaCompCode) Values(1,GetDate(),'2026-05-11','Open','SR320500.EXE',1,'Pricing Master Import', '9','SHFM02_WH1_R10_000001.Txt','13861185','Loaded', '2026-05-11 05:07:46 PM','2026-05-11 05:07:56 PM','super',1 ,'.','R10')
go
 If Exists (Select * From SysObjects Where id = object_id(N'[dbo].[Tr_Ins_ItemMaster]')) Alter Table [ItemMaster] ENABLE Trigger [Tr_Ins_ItemMaster]
go
Update GenLookUP Set [Number] = 1 Where recid = 101 and Code = 'SHFM02WH1' and [Number]< 1
go
IF @@TRANCOUNT > 0 COMMIT TRAN
go
set implicit_transactions off 
go
 if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[TmpinsertionfromStage0super ]') and OBJECTPROPERTY(id, N'IsUserTable') = 1) drop table [dbo].[TmpinsertionfromStage0super]
go
Create Table TmpinsertionfromStage0super (SalesPromoCd Varchar(64))
go
 if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[TmpEditSPOpt1super]') and OBJECTPROPERTY(id, N'IsUserTable') = 1) drop table [dbo].[TmpEditSPOpt1super]
go
Create Table TmpEditSPOpt1super (SalesPromoCd Varchar(64))
go
 if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[TmpEditSPOpt2super]') and OBJECTPROPERTY(id, N'IsUserTable') = 1) drop table [dbo].[TmpEditSPOpt2super]
go
Create Table TmpEditSPOpt2super(SalesPromoCd Varchar(64))
go
Insert Into TmpinsertionfromStage0super Select SalesPromoCode From PromoMnHeader Where ((DefinitionLevel = 1) or (DefinitionType =2 And DefinitionLevel = 2)) And Status In (1,9) and '2026/05/11' BETWEEN StartDate AND EndDate
go
Delete From PromoMnIntermediate Where SalesPromoCode In (Select SalesPromoCode From BakPromoMnHeader)
go
 if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[TmpinsertionfromStage0super ]') and OBJECTPROPERTY(id, N'IsUserTable') = 1) drop table [dbo].[TmpinsertionfromStage0super]
go
Create Table TmpinsertionfromStage0super (SalesPromoCd Varchar(64))
go
 if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[TmpEditSPOpt1super]') and OBJECTPROPERTY(id, N'IsUserTable') = 1) drop table [dbo].[TmpEditSPOpt1super]
go
Create Table TmpEditSPOpt1super (SalesPromoCd Varchar(64))
go
 if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[TmpEditSPOpt2super]') and OBJECTPROPERTY(id, N'IsUserTable') = 1) drop table [dbo].[TmpEditSPOpt2super]
go
Create Table TmpEditSPOpt2super(SalesPromoCd Varchar(64))
go
Insert Into TmpinsertionfromStage0super Select SalesPromoCode From PromoMnHeader Where ((DefinitionLevel = 1) or (DefinitionType =2 And DefinitionLevel = 2)) And Status In (1,9) and '2026/05/11' BETWEEN StartDate AND EndDate
go
